@media (min-width: 1201px),
print {
    #u730003 {
        background: -webkit-gradient(linear, center top, center bottom, color-stop(16%, #383A36), to(#000000));
        background: -webkit-linear-gradient(top, #383A36 16%, #000000);
        background: linear-gradient(to bottom, #383A36 16%, #000000);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF383A36, endColorstr=#FF000000, GradientType=0);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF383A36', endColorstr='#FF000000', GradientType=0)";
    }

    .js #u730003.ose_pre_init {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }
}