@media (min-width: 1201px),
print {
    #u36625 {
        background: -webkit-gradient(linear, center top, center bottom, color-stop(16%, #383A36), to(#000000));
        background: -webkit-linear-gradient(top, #383A36 16%, #000000);
        background: linear-gradient(to bottom, #383A36 16%, #000000);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF383A36, endColorstr=#FF000000, GradientType=0);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF383A36', endColorstr='#FF000000', GradientType=0)";
    }

    .js #u36625.ose_pre_init {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }

    .Ramka-zdjecie {
        border-width: 5px;
        border-color: #A41111;
        background-color: transparent;
    }

    #u36876-3,
    #u36875-3,
    #u36877-3,
    #u36873-3,
    #u36874-3 {
        text-align: left;
        font-size: 18px;
        color: #A41111;
        line-height: 25px;
        font-family: myriad-pro, sans-serif;
        font-weight: 400;
    }

    #u36860-3 {
        color: #A41111;
        text-align: center;
        font-size: 24px;
        line-height: 29px;
        font-family: myriad-pro, sans-serif;
        font-weight: 400;
    }

    #u36878-3,
    #u36892-3 {
        color: #A41111;
        text-align: center;
        font-size: 24px;
        line-height: 34px;
        font-family: myriad-pro, sans-serif;
        font-weight: 400;
    }

    .SSFirstButton,
    .SSPreviousButton,
    .SSNextButton,
    .SSLastButton,
    .SSSlideLink,
    .SSCloseButton {
        cursor: pointer;
    }

    .SSSlideLoading {
        background: url("../images/loading.gif?crc=3815509949") no-repeat center center;
    }

    #u694210 {
        border-style: solid;
        border-width: 5px;
        border-color: #A41111;
        background-color: transparent;
    }

    #u36855,
    #u36857,
    #u36868,
    #u36864,
    #u36862,
    #u36866,
    #u36870,
    #u36795,
    #u36797,
    #u36801,
    #u36803,
    #u36805,
    #u36807,
    #u36809,
    #u36811,
    #u36813,
    #u36815,
    #u36817,
    #u36819,
    #u36821,
    #u36823,
    #u36825,
    #u36827,
    #u36829,
    #u36831,
    #u36833,
    #u36835,
    #u36837,
    #u36839,
    #u36841,
    #u36843,
    #u36845,
    #u36847,
    #u36849,
    #u36851,
    #u36853 {
        border-style: solid;
        border-width: 5px;
        border-color: #A41111;
    }

    #u434502-4 {
        background-color: transparent;
        color: #FFFFFF;
    }

    #u36651 {
        background-color: #171714;
        border-radius: 1px;
    }

    #u36646 {
        -webkit-transition-duration: 1s;
        -webkit-transition-delay: 0s;
        -webkit-transition-timing-function: ease;
        transition-duration: 1s;
        transition-delay: 0s;
        transition-timing-function: ease;
        background-image: url("../images/blank.gif?crc=4208392903");
        background-color: #A41111;
    }

    #u36646:hover {
        -webkit-transition-duration: 1s;
        -webkit-transition-delay: 0s;
        -webkit-transition-timing-function: ease;
        transition-duration: 1s;
        transition-delay: 0s;
        transition-timing-function: ease;
        background-color: #C80000;
    }

    #u36642 {
        -webkit-transition-duration: 1s;
        -webkit-transition-delay: 0s;
        -webkit-transition-timing-function: ease;
        transition-duration: 1s;
        transition-delay: 0s;
        transition-timing-function: ease;
        background-image: url("../images/blank.gif?crc=4208392903");
        background-color: #A41111;
    }

    #u36650 {
        -webkit-transition-duration: 1s;
        -webkit-transition-delay: 0s;
        -webkit-transition-timing-function: ease;
        transition-duration: 1s;
        transition-delay: 0s;
        transition-timing-function: ease;
        background-image: url("../images/blank.gif?crc=4208392903");
        background-color: #A41111;
    }

    #u36642:hover,
    #u36650:hover {
        background-color: #C80000;
    }

    #u37852,
    #u36876-4,
    #u36875-4,
    #u36877-4,
    #u36873-4,
    #u36874-4,
    #u36860-4,
    #u36878-4,
    #u36892-4,
    #u36638,
    #u36643,
    #u36639,
    #u36647,
    #u36627 {
        border-width: 0px;
        border-color: transparent;
        background-color: transparent;
    }

    #u36861,
    #u36872,
    #u36644,
    #u36640,
    #u36648,
    #u36628,
    #u36632,
    #u36630,
    #u36634,
    #u36636 {
        background-color: transparent;
    }

    #u36645,
    #u36641,
    #u36649,
    #u36629,
    #u36633,
    #u36631,
    #u36635,
    #u36637 {
        display: block;
    }

    #u36652 {
        background-color: #F0F0F0;
    }
}

@media (min-width: 851px) and (max-width: 1200px) {
    .Ramka-zdjecie {
        border-width: 5px;
        border-color: #A41111;
        background-color: transparent;
    }

    #u36876-3,
    #u36875-3,
    #u36877-3,
    #u36873-3,
    #u36874-3 {
        text-align: left;
        font-size: 18px;
        color: #A41111;
        line-height: 25px;
        font-family: myriad-pro, sans-serif;
        font-weight: 400;
    }

    #u36860-3 {
        color: #A41111;
        text-align: center;
        font-size: 24px;
        line-height: 29px;
        font-family: myriad-pro, sans-serif;
        font-weight: 400;
    }

    #u36878-3,
    #u36892-3 {
        color: #A41111;
        text-align: center;
        font-size: 24px;
        line-height: 34px;
        font-family: myriad-pro, sans-serif;
        font-weight: 400;
    }

    .SSFirstButton,
    .SSPreviousButton,
    .SSNextButton,
    .SSLastButton,
    .SSSlideLink,
    .SSCloseButton {
        cursor: pointer;
    }

    .SSSlideLoading {
        background: url("../images/loading.gif?crc=3815509949") no-repeat center center;
    }

    #u694210 {
        border-style: solid;
        border-width: 5px;
        border-color: #A41111;
        background-color: transparent;
    }

    #u36855,
    #u36857,
    #u36868,
    #u36864,
    #u36862,
    #u36866,
    #u36870,
    #u36795,
    #u36797,
    #u36801,
    #u36803,
    #u36805,
    #u36807,
    #u36809,
    #u36811,
    #u36813,
    #u36815,
    #u36817,
    #u36819,
    #u36821,
    #u36823,
    #u36825,
    #u36827,
    #u36829,
    #u36831,
    #u36833,
    #u36835,
    #u36837,
    #u36839,
    #u36841,
    #u36843,
    #u36845,
    #u36847,
    #u36849,
    #u36851,
    #u36853 {
        border-style: solid;
        border-width: 5px;
        border-color: #A41111;
    }

    #u434502-4 {
        background-color: transparent;
        color: #FFFFFF;
    }

    #u36651 {
        background-color: #171714;
        border-radius: 1px;
    }

    #u36651_align_to_page {
        max-width: 1200px;
    }

    #u36646 {
        -webkit-transition-duration: 1s;
        -webkit-transition-delay: 0s;
        -webkit-transition-timing-function: ease;
        transition-duration: 1s;
        transition-delay: 0s;
        transition-timing-function: ease;
        background-image: url("../images/blank.gif?crc=4208392903");
        background-color: #A41111;
    }

    #u36646:hover {
        -webkit-transition-duration: 1s;
        -webkit-transition-delay: 0s;
        -webkit-transition-timing-function: ease;
        transition-duration: 1s;
        transition-delay: 0s;
        transition-timing-function: ease;
        background-color: #C80000;
    }

    #u36642 {
        -webkit-transition-duration: 1s;
        -webkit-transition-delay: 0s;
        -webkit-transition-timing-function: ease;
        transition-duration: 1s;
        transition-delay: 0s;
        transition-timing-function: ease;
        background-image: url("../images/blank.gif?crc=4208392903");
        background-color: #A41111;
    }

    #u36650 {
        -webkit-transition-duration: 1s;
        -webkit-transition-delay: 0s;
        -webkit-transition-timing-function: ease;
        transition-duration: 1s;
        transition-delay: 0s;
        transition-timing-function: ease;
        background-image: url("../images/blank.gif?crc=4208392903");
        background-color: #A41111;
    }

    #u36642:hover,
    #u36650:hover {
        background-color: #C80000;
    }

    #u37852,
    #u36876-4,
    #u36875-4,
    #u36877-4,
    #u36873-4,
    #u36874-4,
    #u36878-4,
    #u36860-4,
    #u36892-4,
    #u36638,
    #u36643,
    #u36639,
    #u36647,
    #u36627 {
        border-width: 0px;
        border-color: transparent;
        background-color: transparent;
    }

    #u36861,
    #u36872,
    #u36644,
    #u36640,
    #u36648,
    #u36628,
    #u36632,
    #u36630,
    #u36634,
    #u36636 {
        background-color: transparent;
    }

    #u36645,
    #u36641,
    #u36649,
    #u36629,
    #u36633,
    #u36631,
    #u36635,
    #u36637 {
        display: block;
    }

    #u36652 {
        background-color: #F0F0F0;
    }
}

@media (min-width: 451px) and (max-width: 850px) {
    .Ramka-zdjecie {
        border-width: 5px;
        border-color: #A41111;
        background-color: transparent;
    }

    #u36876-3,
    #u36875-3,
    #u36877-3,
    #u36873-3,
    #u36874-3 {
        text-align: left;
        font-size: 18px;
        color: #A41111;
        line-height: 25px;
        font-family: myriad-pro, sans-serif;
        font-weight: 400;
    }

    #u36860-3 {
        color: #A41111;
        text-align: center;
        font-size: 24px;
        line-height: 29px;
        font-family: myriad-pro, sans-serif;
        font-weight: 400;
    }

    #u36878-3,
    #u36892-3 {
        color: #A41111;
        text-align: center;
        font-size: 24px;
        line-height: 34px;
        font-family: myriad-pro, sans-serif;
        font-weight: 400;
    }

    .SSFirstButton,
    .SSPreviousButton,
    .SSNextButton,
    .SSLastButton,
    .SSSlideLink,
    .SSCloseButton {
        cursor: pointer;
    }

    .SSSlideLoading {
        background: url("../images/loading.gif?crc=3815509949") no-repeat center center;
    }

    #u694210 {
        border-style: solid;
        border-width: 5px;
        border-color: #A41111;
        background-color: transparent;
    }

    #u36855,
    #u36857,
    #u36868,
    #u36864,
    #u36862,
    #u36866,
    #u36870,
    #u36795,
    #u36797,
    #u36801,
    #u36803,
    #u36805,
    #u36807,
    #u36809,
    #u36811,
    #u36813,
    #u36815,
    #u36817,
    #u36819,
    #u36821,
    #u36823,
    #u36825,
    #u36827,
    #u36829,
    #u36831,
    #u36833,
    #u36835,
    #u36837,
    #u36839,
    #u36841,
    #u36843,
    #u36845,
    #u36847,
    #u36849,
    #u36851,
    #u36853 {
        border-style: solid;
        border-width: 5px;
        border-color: #A41111;
    }

    #u434502-4 {
        background-color: transparent;
        color: #FFFFFF;
    }

    #u36651 {
        background-color: #171714;
        border-radius: 1px;
    }

    #u36651_align_to_page {
        max-width: 850px;
    }

    #u36646 {
        -webkit-transition-duration: 1s;
        -webkit-transition-delay: 0s;
        -webkit-transition-timing-function: ease;
        transition-duration: 1s;
        transition-delay: 0s;
        transition-timing-function: ease;
        background-image: url("../images/blank.gif?crc=4208392903");
        background-color: #A41111;
    }

    #u36646:hover {
        -webkit-transition-duration: 1s;
        -webkit-transition-delay: 0s;
        -webkit-transition-timing-function: ease;
        transition-duration: 1s;
        transition-delay: 0s;
        transition-timing-function: ease;
        background-color: #C80000;
    }

    #u36642 {
        -webkit-transition-duration: 1s;
        -webkit-transition-delay: 0s;
        -webkit-transition-timing-function: ease;
        transition-duration: 1s;
        transition-delay: 0s;
        transition-timing-function: ease;
        background-image: url("../images/blank.gif?crc=4208392903");
        background-color: #A41111;
    }

    #u36650 {
        -webkit-transition-duration: 1s;
        -webkit-transition-delay: 0s;
        -webkit-transition-timing-function: ease;
        transition-duration: 1s;
        transition-delay: 0s;
        transition-timing-function: ease;
        background-image: url("../images/blank.gif?crc=4208392903");
        background-color: #A41111;
    }

    #u36642:hover,
    #u36650:hover {
        background-color: #C80000;
    }

    #u37852,
    #u36876-4,
    #u36875-4,
    #u36877-4,
    #u36873-4,
    #u36874-4,
    #u36878-4,
    #u36860-4,
    #u36892-4,
    #u36638,
    #u36643,
    #u36639,
    #u36647,
    #u36627 {
        border-width: 0px;
        border-color: transparent;
        background-color: transparent;
    }

    #u36861,
    #u36872,
    #u36644,
    #u36640,
    #u36648,
    #u36628,
    #u36632,
    #u36630,
    #u36634,
    #u36636 {
        background-color: transparent;
    }

    #u36645,
    #u36641,
    #u36649,
    #u36629,
    #u36633,
    #u36631,
    #u36635,
    #u36637 {
        display: block;
    }

    #u36652 {
        background-color: #F0F0F0;
    }
}

@media (max-width: 450px) {
    .Ramka-zdjecie {
        border-width: 5px;
        border-color: #A41111;
        background-color: transparent;
    }

    #u36876-3,
    #u36875-3,
    #u36877-3,
    #u36873-3,
    #u36874-3 {
        text-align: left;
        font-size: 14px;
        color: #A41111;
        line-height: 20px;
        font-family: myriad-pro, sans-serif;
        font-weight: 400;
    }

    #u36860-3 {
        color: #A41111;
        text-align: center;
        font-size: 14px;
        font-family: myriad-pro, sans-serif;
        font-weight: 400;
    }

    #u36878-3,
    #u36892-3 {
        color: #A41111;
        text-align: center;
        font-size: 18px;
        line-height: 25px;
        font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
    }

    .SSFirstButton,
    .SSPreviousButton,
    .SSNextButton,
    .SSLastButton,
    .SSSlideLink,
    .SSCloseButton {
        cursor: pointer;
    }

    .SSSlideLoading {
        background: url("../images/loading.gif?crc=3815509949") no-repeat center center;
    }

    #u694210 {
        border-style: solid;
        border-width: 5px;
        border-color: #A41111;
        background-color: transparent;
    }

    #u36855,
    #u36857,
    #u36868,
    #u36864,
    #u36862,
    #u36866,
    #u36870,
    #u36795,
    #u36797,
    #u36801,
    #u36803,
    #u36805,
    #u36807,
    #u36809,
    #u36811,
    #u36813,
    #u36815,
    #u36817,
    #u36819,
    #u36821,
    #u36823,
    #u36825,
    #u36827,
    #u36829,
    #u36831,
    #u36833,
    #u36835,
    #u36837,
    #u36839,
    #u36841,
    #u36843,
    #u36845,
    #u36847,
    #u36849,
    #u36851,
    #u36853 {
        border-style: solid;
        border-width: 5px;
        border-color: #A41111;
    }

    #u434502-4 {
        background-color: transparent;
        color: #FFFFFF;
    }

    #u36651 {
        background-color: #171714;
        border-radius: 1px;
    }

    #u36651_align_to_page {
        max-width: 450px;
    }

    #u36646 {
        -webkit-transition-duration: 1s;
        -webkit-transition-delay: 0s;
        -webkit-transition-timing-function: ease;
        transition-duration: 1s;
        transition-delay: 0s;
        transition-timing-function: ease;
        background-image: url("../images/blank.gif?crc=4208392903");
        background-color: #A41111;
    }

    #u36646:hover {
        -webkit-transition-duration: 1s;
        -webkit-transition-delay: 0s;
        -webkit-transition-timing-function: ease;
        transition-duration: 1s;
        transition-delay: 0s;
        transition-timing-function: ease;
        background-color: #C80000;
    }

    #u36642 {
        -webkit-transition-duration: 1s;
        -webkit-transition-delay: 0s;
        -webkit-transition-timing-function: ease;
        transition-duration: 1s;
        transition-delay: 0s;
        transition-timing-function: ease;
        background-image: url("../images/blank.gif?crc=4208392903");
        background-color: #A41111;
    }

    #u36650 {
        -webkit-transition-duration: 1s;
        -webkit-transition-delay: 0s;
        -webkit-transition-timing-function: ease;
        transition-duration: 1s;
        transition-delay: 0s;
        transition-timing-function: ease;
        background-image: url("../images/blank.gif?crc=4208392903");
        background-color: #A41111;
    }

    #u36642:hover,
    #u36650:hover {
        background-color: #C80000;
    }

    #u37852,
    #u36876-4,
    #u36875-4,
    #u36877-4,
    #u36873-4,
    #u36874-4,
    #u36878-4,
    #u36860-4,
    #u36892-4,
    #u36638,
    #u36643,
    #u36639,
    #u36647,
    #u36627 {
        border-width: 0px;
        border-color: transparent;
        background-color: transparent;
    }

    #u36861,
    #u36872,
    #u36644,
    #u36640,
    #u36648,
    #u36628,
    #u36632,
    #u36630,
    #u36634,
    #u36636 {
        background-color: transparent;
    }

    #u36645,
    #u36641,
    #u36649,
    #u36629,
    #u36633,
    #u36631,
    #u36635,
    #u36637 {
        display: block;
    }

    #u36652 {
        background-color: #F0F0F0;
    }
}