#u704972 {
    border-width: 0px;
    border-color: transparent;
    -pie-background: rgba(48, 48, 48, 0.9);
}

#u705124-4 {
    color: #FFFFFF;
    background-color: transparent;
    border-color: transparent;
    font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
    border-width: 0px;
    text-align: center;
    line-height: 20px;
}

#u705126-4,
#u705128-4,
#u705127-4 {
    color: #CBCBCB;
    text-align: center;
    background-color: transparent;
    line-height: 20px;
    font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u705047 {
    border-width: 0px;
    pointer-events: none;
    background-color: transparent;
    border-color: transparent;
}

#u705070,
#u706299,
#u706458,
#u706617,
#u706776,
#u706935,
#u706193,
#u706352,
#u706511,
#u706670,
#u706829,
#u706246,
#u706405,
#u706564,
#u706723,
#u706882 {
    border-width: 3px;
    pointer-events: auto;
    background-color: transparent;
    border-color: #A41111;
    border-style: solid;
}

.SSFirstButton,
.SSPreviousButton,
.SSNextButton,
.SSLastButton,
.SSSlideLink,
.SSCloseButton {
    cursor: pointer;
}

.SSSlideLoading {
    background: url("../images/loading.gif?crc=3815509949") no-repeat center center;
}

#u704662 {
    border-radius: 1px;
    background-color: #171714;
}

#u704671 {
    -webkit-transition-duration: 1s;
    background-color: #A41111;
    background-image: url("../images/blank.gif?crc=4208392903");
    -webkit-transition-delay: 0s;
    transition-timing-function: ease;
    -webkit-transition-timing-function: ease;
    transition-duration: 1s;
    transition-delay: 0s;
}

#u704671:hover {
    -webkit-transition-duration: 1s;
    background-color: #C80000;
    -webkit-transition-delay: 0s;
    transition-timing-function: ease;
    -webkit-transition-timing-function: ease;
    transition-duration: 1s;
    transition-delay: 0s;
}

#u704673 {
    -webkit-transition-duration: 1s;
    background-color: #A41111;
    background-image: url("../images/blank.gif?crc=4208392903");
    -webkit-transition-delay: 0s;
    transition-timing-function: ease;
    -webkit-transition-timing-function: ease;
    transition-duration: 1s;
    transition-delay: 0s;
}

#u704667 {
    -webkit-transition-duration: 1s;
    background-color: #A41111;
    background-image: url("../images/blank.gif?crc=4208392903");
    -webkit-transition-delay: 0s;
    transition-timing-function: ease;
    -webkit-transition-timing-function: ease;
    transition-duration: 1s;
    transition-delay: 0s;
}

#u704673:hover,
#u704667:hover {
    background-color: #C80000;
}

#u705123,
#u704663,
#u704668,
#u704672,
#u704664,
#u704676 {
    border-width: 0px;
    background-color: transparent;
    border-color: transparent;
}

#u705031,
#u706178,
#u706231,
#u706284,
#u706337,
#u706390,
#u706443,
#u706496,
#u706549,
#u706602,
#u706655,
#u706708,
#u706761,
#u706814,
#u706867,
#u706920,
#u704669,
#u704674,
#u704665,
#u704679,
#u704677,
#u704681,
#u704683,
#u704685 {
    background-color: transparent;
}

#u704670,
#u704675,
#u704666,
#u704680,
#u704678,
#u704682,
#u704684,
#u704686 {
    display: block;
}

#u704687 {
    background-color: #F0F0F0;
}

@media (min-width: 1201px),
print {
    #u704689 {
        background: -webkit-gradient(linear, center top, center bottom, color-stop(16%, #383A36), to(#000000));
        background: -webkit-linear-gradient(top, #383A36 16%, #000000);
        background: linear-gradient(to bottom, #383A36 16%, #000000);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF383A36, endColorstr=#FF000000, GradientType=0);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF383A36', endColorstr='#FF000000', GradientType=0)";
    }

    .js #u704689.ose_pre_init {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }

    #u704972 {
        background-color: #444444;
        background-color: rgba(48, 48, 48, 0.9);
    }
}

@media (min-width: 851px) and (max-width: 1200px) {
    #u704972 {
        background-color: #444444;
        background-color: rgba(48, 48, 48, 0.9);
    }

    #u704662_align_to_page {
        max-width: 1200px;
    }
}

@media (min-width: 451px) and (max-width: 850px) {
    #u704972 {
        background-color: #444444;
        background-color: rgba(48, 48, 48, 0.9);
    }

    #u704662_align_to_page {
        max-width: 850px;
    }
}

@media (max-width: 450px) {
    #u704972 {
        background-color: #444444;
        background-color: rgba(48, 48, 48, 0.9);
    }

    #u704662_align_to_page {
        max-width: 450px;
    }
}