#u721293 {
    border-width: 0px;
    border-color: transparent;
    -pie-background: rgba(48, 48, 48, 0.9);
}

#u721383-4 {
    color: #FFFFFF;
    background-color: transparent;
    border-color: transparent;
    font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
    border-width: 0px;
    text-align: center;
    line-height: 20px;
}

#u721292-4,
#u721290-4,
#u721289-4 {
    color: #CBCBCB;
    text-align: center;
    background-color: transparent;
    line-height: 20px;
    font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u721346 {
    border-width: 0px;
    pointer-events: none;
    background-color: transparent;
    border-color: transparent;
}

#u721373,
#u727889,
#u728048,
#u728207,
#u728366,
#u728525,
#u728684,
#u727783,
#u727942,
#u728101,
#u728260,
#u728419,
#u728578,
#u728737,
#u727836,
#u727995,
#u728154,
#u728313,
#u728472,
#u728631,
#u728790 {
    border-width: 3px;
    pointer-events: auto;
    background-color: transparent;
    border-color: #A41111;
    border-style: solid;
}

.SSFirstButton,
.SSPreviousButton,
.SSNextButton,
.SSLastButton,
.SSSlideLink,
.SSCloseButton {
    cursor: pointer;
}

.SSSlideLoading {
    background: url("../images/loading.gif?crc=3815509949") no-repeat center center;
}

#u721143 {
    background-color: #F0F0F0;
}

#u721118 {
    border-radius: 1px;
    background-color: #171714;
}

#u721136 {
    -webkit-transition-duration: 1s;
    background-color: #A41111;
    background-image: url("../images/blank.gif?crc=4208392903");
    -webkit-transition-delay: 0s;
    transition-timing-function: ease;
    -webkit-transition-timing-function: ease;
    transition-duration: 1s;
    transition-delay: 0s;
}

#u721136:hover {
    -webkit-transition-duration: 1s;
    background-color: #C80000;
    -webkit-transition-delay: 0s;
    transition-timing-function: ease;
    -webkit-transition-timing-function: ease;
    transition-duration: 1s;
    transition-delay: 0s;
}

#u721132 {
    -webkit-transition-duration: 1s;
    background-color: #A41111;
    background-image: url("../images/blank.gif?crc=4208392903");
    -webkit-transition-delay: 0s;
    transition-timing-function: ease;
    -webkit-transition-timing-function: ease;
    transition-duration: 1s;
    transition-delay: 0s;
}

#u721140 {
    -webkit-transition-duration: 1s;
    background-color: #A41111;
    background-image: url("../images/blank.gif?crc=4208392903");
    -webkit-transition-delay: 0s;
    transition-timing-function: ease;
    -webkit-transition-timing-function: ease;
    transition-duration: 1s;
    transition-delay: 0s;
}

#u721132:hover,
#u721140:hover {
    background-color: #C80000;
}

#u721382,
#u721130,
#u721135,
#u721131,
#u721139,
#u721119 {
    border-width: 0px;
    background-color: transparent;
    border-color: transparent;
}

#u721296,
#u727768,
#u727821,
#u727874,
#u727927,
#u727980,
#u728033,
#u728086,
#u728139,
#u728192,
#u728245,
#u728298,
#u728351,
#u728404,
#u728457,
#u728510,
#u728563,
#u728616,
#u728669,
#u728722,
#u728775,
#u721137,
#u721133,
#u721141,
#u721122,
#u721120,
#u721126,
#u721124,
#u721128 {
    background-color: transparent;
}

#u721138,
#u721134,
#u721142,
#u721123,
#u721121,
#u721127,
#u721125,
#u721129 {
    display: block;
}

@media (min-width: 1201px),
print {
    #u721286 {
        background: -webkit-gradient(linear, center top, center bottom, color-stop(16%, #383A36), to(#000000));
        background: -webkit-linear-gradient(top, #383A36 16%, #000000);
        background: linear-gradient(to bottom, #383A36 16%, #000000);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF383A36, endColorstr=#FF000000, GradientType=0);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF383A36', endColorstr='#FF000000', GradientType=0)";
    }

    .js #u721286.ose_pre_init {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }

    #u721293 {
        background-color: #444444;
        background-color: rgba(48, 48, 48, 0.9);
    }
}

@media (min-width: 851px) and (max-width: 1200px) {
    #u721293 {
        background-color: #444444;
        background-color: rgba(48, 48, 48, 0.9);
    }

    #u721118_align_to_page {
        max-width: 1200px;
    }
}

@media (min-width: 451px) and (max-width: 850px) {
    #u721293 {
        background-color: #444444;
        background-color: rgba(48, 48, 48, 0.9);
    }

    #u721118_align_to_page {
        max-width: 850px;
    }
}

@media (max-width: 450px) {
    #u721293 {
        background-color: #444444;
        background-color: rgba(48, 48, 48, 0.9);
    }

    #u721118_align_to_page {
        max-width: 450px;
    }
}