#u278513 {
    background: -webkit-gradient(linear, center top, center bottom, color-stop(16%, #383A36), to(#000000));
    background: -webkit-linear-gradient(top, #383A36 16%, #000000);
    background: linear-gradient(to bottom, #383A36 16%, #000000);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF383A36, endColorstr=#FF000000, GradientType=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF383A36', endColorstr='#FF000000', GradientType=0)";
}

.js #u278513.ose_pre_init {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
}

#u278670 {
    border-width: 0px;
    border-color: transparent;
    background-color: #444444;
    background-color: rgba(48, 48, 48, 0.9);
    -pie-background: rgba(48, 48, 48, 0.9);
}

#u278667-4,
#u278666-4,
#u278672-4 {
    background-color: transparent;
    color: #CBCBCB;
    text-align: center;
    line-height: 20px;
    font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u278674-4 {
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    color: #FFFFFF;
    text-align: center;
    line-height: 20px;
    font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u278668 {
    pointer-events: none;
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
}

#u278669 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u352599 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u352652 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u352705 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u352758 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u352811 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u352864 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u352917 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u352970 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u353023 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u353076 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u353129 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u353182 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u353235 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u353288 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u353341 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u353394 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u353447 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u353500 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u353553 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u353606 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u353659 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u353712 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u353765 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u353818 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u353871 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u353924 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u353977 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u354030 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u354083 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u354136 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u354189 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u354242 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u354295 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u354348 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u354401 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u354454 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u354507 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u354560 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u354613 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u354666 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u354719 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u354772 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u354825 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u354878 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u354931 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u354984 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u355037 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u355090 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u355143 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u355196 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u355249 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u355302 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u355355 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u355408 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u355461 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u355514 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u355567 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u355620 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u355673 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u355726 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u355779 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u355832 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u355885 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u355938 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u355991 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u356044 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u356097 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u356150 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u356203 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u356256 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u356309 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u356362 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u356415 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u356468 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u356521 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u356574 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u356627 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u356680 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u356733 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u356786 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u356839 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u356892 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u356945 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u356998 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u357051 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u357104 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u357157 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u357210 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u357263 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u357316 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u357369 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u357422 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u357475 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u357528 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u357581 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u357634 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u357687 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u357740 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u357793 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u357846 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u357899 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u357952 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u358005 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u358058 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u358111 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u358164 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u358217 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u358270 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u358323 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u358376 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u358429 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u358482 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u358535 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u358588 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u358641 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u358694 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u358747 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u358800 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u358853 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u358906 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u358959 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u359012 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u359065 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u359118 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u359171 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u359224 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u359277 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u359330 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u359383 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u359436 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u359489 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u359542 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u359595 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u359648 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

.SSFirstButton,
.SSPreviousButton,
.SSNextButton,
.SSLastButton,
.SSSlideLink,
.SSCloseButton {
    cursor: pointer;
}

.SSSlideLoading {
    background: url("../images/loading.gif?crc=3815509949") no-repeat center center;
}

#u278635 {
    background-color: #171714;
    border-radius: 1px;
}

#u278642 {
    -webkit-transition-duration: 1s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 1s;
    transition-delay: 0s;
    transition-timing-function: ease;
    background-image: url("../images/blank.gif?crc=4208392903");
    background-color: #A41111;
}

#u278642:hover {
    -webkit-transition-duration: 1s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 1s;
    transition-delay: 0s;
    transition-timing-function: ease;
    background-color: #C80000;
}

#u278638 {
    -webkit-transition-duration: 1s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 1s;
    transition-delay: 0s;
    transition-timing-function: ease;
    background-image: url("../images/blank.gif?crc=4208392903");
    background-color: #A41111;
}

#u278646 {
    -webkit-transition-duration: 1s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 1s;
    transition-delay: 0s;
    transition-timing-function: ease;
    background-image: url("../images/blank.gif?crc=4208392903");
    background-color: #A41111;
}

#u278638:hover,
#u278646:hover {
    background-color: #C80000;
}

#u278673,
#u278636,
#u278641,
#u278637,
#u278645,
#u278650 {
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
}

#u278671,
#u352584,
#u352637,
#u352690,
#u352743,
#u352796,
#u352849,
#u352902,
#u352955,
#u353008,
#u353061,
#u353114,
#u353167,
#u353220,
#u353273,
#u353326,
#u353379,
#u353432,
#u353485,
#u353538,
#u353591,
#u353644,
#u353697,
#u353750,
#u353803,
#u353856,
#u353909,
#u353962,
#u354015,
#u354068,
#u354121,
#u354174,
#u354227,
#u354280,
#u354333,
#u354386,
#u354439,
#u354492,
#u354545,
#u354598,
#u354651,
#u354704,
#u354757,
#u354810,
#u354863,
#u354916,
#u354969,
#u355022,
#u355075,
#u355128,
#u355181,
#u355234,
#u355287,
#u355340,
#u355393,
#u355446,
#u355499,
#u355552,
#u355605,
#u355658,
#u355711,
#u355764,
#u355817,
#u355870,
#u355923,
#u355976,
#u356029,
#u356082,
#u356135,
#u356188,
#u356241,
#u356294,
#u356347,
#u356400,
#u356453,
#u356506,
#u356559,
#u356612,
#u356665,
#u356718,
#u356771,
#u356824,
#u356877,
#u356930,
#u356983,
#u357036,
#u357089,
#u357142,
#u357195,
#u357248,
#u357301,
#u357354,
#u357407,
#u357460,
#u357513,
#u357566,
#u357619,
#u357672,
#u357725,
#u357778,
#u357831,
#u357884,
#u357937,
#u357990,
#u358043,
#u358096,
#u358149,
#u358202,
#u358255,
#u358308,
#u358361,
#u358414,
#u358467,
#u358520,
#u358573,
#u358626,
#u358679,
#u358732,
#u358785,
#u358838,
#u358891,
#u358944,
#u358997,
#u359050,
#u359103,
#u359156,
#u359209,
#u359262,
#u359315,
#u359368,
#u359421,
#u359474,
#u359527,
#u359580,
#u359633,
#u278643,
#u278639,
#u278647,
#u278657,
#u278653,
#u278651,
#u278659,
#u278655 {
    background-color: transparent;
}

#u278644,
#u278640,
#u278648,
#u278658,
#u278654,
#u278652,
#u278660,
#u278656 {
    display: block;
}

#u278649 {
    background-color: #F0F0F0;
}