#muse_css_mq {
    background-color: #FFFFFF;
}

#bp_infinity.active {
    display: block;
}

#page {
    width: 1200px;
    min-height: 1049px;
}

#pu426549 {
    z-index: 162;
    width: 0.01px;
    height: 0px;
    padding-bottom: 74px;
    margin-right: -10000px;
    margin-top: -1px;
}

#u426549 {
    z-index: 162;
    height: 74px;
    position: fixed;
    top: -1px;
}

#u426549-bw {
    z-index: 162;
}

#u420255 {
    z-index: 163;
    width: 96px;
    position: fixed;
    top: 28px;
    left: 50%;
    margin-left: -546px;
}

#u420256 {
    z-index: 164;
}

#u420253 {
    z-index: 165;
    width: 96px;
    position: fixed;
    top: 27px;
    left: 50%;
    margin-left: -547px;
}

#u420254 {
    z-index: 166;
}

#u468319 {
    z-index: 167;
    width: 205px;
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    padding-bottom: 47px;
    position: fixed;
    top: 20px;
    left: 50%;
    margin-left: 395px;
}

#u468320-4 {
    z-index: 168;
    width: 29px;
    min-height: 21px;
    -webkit-transition-duration: 1s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 1s;
    transition-delay: 0s;
    transition-timing-function: ease;
    background-image: url("../images/blank.gif?crc=4208392903");
    background-color: #A41111;
    color: #F0F0F0;
    font-size: 18px;
    text-align: center;
    line-height: 22px;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
    position: fixed;
    top: 20px;
    left: 50%;
    margin-left: 395px;
    padding: 15px 10px 10px;
}

#u468320-4:hover {
    background-color: #C80000;
    padding-top: 15px;
    padding-bottom: 10px;
    min-height: 21px;
    width: 29px;
    margin: 0px 0px 0px 395px;
}

#u468321-4 {
    z-index: 172;
    width: 29px;
    min-height: 21px;
    -webkit-transition-duration: 1s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 1s;
    transition-delay: 0s;
    transition-timing-function: ease;
    background-image: url("../images/blank.gif?crc=4208392903");
    background-color: #A41111;
    color: #F0F0F0;
    font-size: 18px;
    text-align: center;
    line-height: 22px;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
    position: fixed;
    top: 20px;
    left: 50%;
    margin-left: 448px;
    padding: 15px 10px 10px;
}

#u468321-4:hover {
    background-color: #C80000;
    padding-top: 15px;
    padding-bottom: 10px;
    min-height: 21px;
    width: 29px;
    margin: 0px 0px 0px 448px;
}

#u468323-4 {
    z-index: 176;
    width: 29px;
    min-height: 21px;
    -webkit-transition-duration: 1s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 1s;
    transition-delay: 0s;
    transition-timing-function: ease;
    background-image: url("../images/blank.gif?crc=4208392903");
    background-color: #A41111;
    color: #F0F0F0;
    font-size: 18px;
    text-align: center;
    line-height: 22px;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
    position: fixed;
    top: 20px;
    left: 50%;
    margin-left: 500px;
    padding: 15px 10px 10px;
}

#u468323-4.MuseLinkActive {
    background-color: #C80000;
    padding-top: 15px;
    padding-bottom: 10px;
    min-height: 21px;
    width: 29px;
    margin: 0px 0px 0px 500px;
}

#u468322-4 {
    z-index: 180;
    width: 29px;
    min-height: 21px;
    -webkit-transition-duration: 1s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 1s;
    transition-delay: 0s;
    transition-timing-function: ease;
    background-image: url("../images/blank.gif?crc=4208392903");
    background-color: #A41111;
    color: #F0F0F0;
    font-size: 18px;
    text-align: center;
    line-height: 22px;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
    position: fixed;
    top: 20px;
    left: 50%;
    margin-left: 551px;
    padding: 15px 10px 10px;
}

#u468322-4:hover {
    background-color: #C80000;
    padding-top: 15px;
    padding-bottom: 10px;
    min-height: 21px;
    width: 29px;
    margin: 0px 0px 0px 551px;
}

#ppppbuttonu693102 {
    z-index: 0;
    width: 0.01px;
    height: 695px;
    margin-right: -10000px;
    margin-top: 24px;
    margin-left: -25px;
}

#pppbuttonu693102 {
    z-index: 0;
    width: 0.01px;
    height: 37px;
    margin-left: 380px;
}

#ppbuttonu693102 {
    z-index: 205;
    width: 0.01px;
    height: 37px;
    margin-right: -10000px;
    margin-left: 180px;
}

#pbuttonu693102 {
    z-index: 206;
    width: 0.01px;
    height: 0px;
    padding-bottom: 40px;
    margin-bottom: -3px;
    margin-right: -10000px;
}

#buttonu693102 {
    z-index: 206;
    width: 93px;
    height: 37px;
    border-style: solid;
    border-color: #A41111;
    background-color: transparent;
    position: fixed;
    top: 24px;
    left: 50%;
    margin-left: -65px;
    border-width: 0px 0px 2px;
}

#pbuttonu693102:hover #buttonu693102 {
    width: 93px;
    height: 37px;
    border-style: solid;
    border-color: #C80000;
    position: fixed;
    top: 24px;
    left: 50%;
    margin-left: -65px;
    min-height: 0px;
    border-width: 0px 0px 3px;
}

#u693103-4 {
    z-index: 207;
    width: 92px;
    min-height: 23px;
    background-color: transparent;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #F0F0F0;
    text-align: center;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
}

#pbuttonu693102:hover #u693103-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
    margin-right: -10000px;
    margin-top: 3px;
    left: 1px;
    min-height: 23px;
    width: 92px;
}

#pbuttonu693102:hover #u693103-4 p {
    color: #FFFFFF;
    visibility: inherit;
}

#pbuttonu693108 {
    z-index: 227;
    width: 0.01px;
    margin-bottom: -3px;
    margin-right: -10000px;
}

#buttonu693108 {
    z-index: 227;
    width: 93px;
    height: 37px;
    border-style: solid;
    border-color: #A41111;
    background-color: transparent;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    position: relative;
    margin-right: -10000px;
    border-width: 0px 0px 2px;
}

#pbuttonu693108:hover #buttonu693108 {
    width: 93px;
    height: 37px;
    border-style: solid;
    border-color: #C80000;
    position: relative;
    margin-right: -10000px;
    margin-top: 0px;
    left: 0px;
    margin-left: 0px;
    min-height: 0px;
    border-width: 0px 0px 3px;
}

#u693109-4 {
    z-index: 228;
    width: 92px;
    min-height: 23px;
    background-color: transparent;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #393B37;
    text-align: center;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
}

#pbuttonu693108:hover #u693109-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
    margin-right: -10000px;
    left: 1px;
    min-height: 23px;
    width: 92px;
}

#ppbuttonu693106 {
    z-index: 219;
    width: 0.01px;
    height: 37px;
    margin-right: -10000px;
    margin-left: 372px;
}

#pbuttonu693106 {
    z-index: 220;
    width: 0.01px;
    height: 0px;
    padding-bottom: 40px;
    margin-bottom: -3px;
    margin-right: -10000px;
}

#buttonu693106 {
    z-index: 220;
    width: 110px;
    height: 37px;
    border-style: solid;
    border-color: #A41111;
    background-color: transparent;
    position: fixed;
    top: 24px;
    left: 50%;
    margin-left: 128px;
    border-width: 0px 0px 2px;
}

#pbuttonu693106:hover #buttonu693106 {
    width: 110px;
    height: 37px;
    border-style: solid;
    border-color: #C80000;
    position: fixed;
    top: 24px;
    left: 50%;
    margin-left: 128px;
    min-height: 0px;
    border-width: 0px 0px 3px;
}

#u693107-4 {
    z-index: 221;
    width: 108px;
    min-height: 23px;
    background-color: transparent;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #F0F0F0;
    text-align: center;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
}

#pbuttonu693106:hover #u693107-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
    margin-right: -10000px;
    min-height: 23px;
    width: 108px;
}

#pbuttonu693106:hover #u693107-4 p {
    color: #FFFFFF;
    visibility: inherit;
}

#pbuttonu693114 {
    z-index: 248;
    width: 0.01px;
    margin-bottom: -3px;
    margin-right: -10000px;
}

#buttonu693114 {
    z-index: 248;
    width: 110px;
    height: 37px;
    border-style: solid;
    border-color: #A41111;
    background-color: transparent;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    position: relative;
    margin-right: -10000px;
    border-width: 0px 0px 2px;
}

#pbuttonu693114:hover #buttonu693114 {
    width: 110px;
    height: 37px;
    border-style: solid;
    border-color: #C80000;
    position: relative;
    margin-right: -10000px;
    margin-top: 0px;
    left: 0px;
    margin-left: 0px;
    min-height: 0px;
    border-width: 0px 0px 3px;
}

#u693115-4 {
    z-index: 249;
    width: 108px;
    min-height: 23px;
    background-color: transparent;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #393B37;
    text-align: center;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
}

#pbuttonu693114:hover #u693115-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
    margin-right: -10000px;
    min-height: 23px;
    width: 108px;
}

#pbuttonu693106.ButtonSelected #u693107-4,
#pbuttonu693114.ButtonSelected #u693115-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 23px;
    width: 108px;
}

#pbuttonu693096 {
    z-index: 185;
    width: 0.01px;
    height: 0px;
    padding-bottom: 40px;
    margin-bottom: -3px;
    margin-right: -10000px;
}

#buttonu693096 {
    z-index: 185;
    width: 176px;
    height: 37px;
    border-style: solid;
    border-color: #A41111;
    background-color: transparent;
    position: fixed;
    top: 24px;
    left: 50%;
    margin-left: -245px;
    border-width: 0px 0px 2px;
}

#pbuttonu693096:hover #buttonu693096 {
    width: 176px;
    height: 37px;
    border-style: solid;
    border-color: #C80000;
    position: fixed;
    top: 24px;
    left: 50%;
    margin-left: -245px;
    min-height: 0px;
    border-width: 0px 0px 3px;
}

#u693097-4 {
    z-index: 186;
    width: 173px;
    min-height: 23px;
    background-color: transparent;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #FFFFFF;
    text-align: center;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
}

#pbuttonu693096:hover #u693097-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
    margin-right: -10000px;
    margin-top: 3px;
    left: 1px;
    min-height: 23px;
    width: 173px;
}

#pbuttonu693096:hover #u693097-4 p {
    color: #FFFFFF;
    visibility: inherit;
}

#pbuttonu693102 #u693103-4,
#pbuttonu693096 #u693097-4 {
    position: relative;
    margin-right: -10000px;
    margin-top: 3px;
    left: 1px;
}

#pbuttonu693098 {
    z-index: 192;
    width: 0.01px;
    margin-bottom: -3px;
    margin-right: -10000px;
}

#buttonu693098 {
    z-index: 192;
    width: 176px;
    height: 37px;
    border-style: solid;
    border-color: #A41111;
    background-color: transparent;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    position: relative;
    margin-right: -10000px;
    border-width: 0px 0px 2px;
}

#pbuttonu693098:hover #buttonu693098 {
    width: 176px;
    height: 37px;
    border-style: solid;
    border-color: #C80000;
    position: relative;
    margin-right: -10000px;
    margin-top: 0px;
    left: 0px;
    margin-left: 0px;
    min-height: 0px;
    border-width: 0px 0px 3px;
}

#u693099-4 {
    z-index: 193;
    width: 173px;
    min-height: 23px;
    background-color: transparent;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #393B37;
    text-align: center;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
}

#pbuttonu693098:hover #u693099-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
    margin-right: -10000px;
    left: 1px;
    min-height: 23px;
    width: 173px;
}

#pbuttonu693096.ButtonSelected #u693097-4,
#pbuttonu693098.ButtonSelected #u693099-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 23px;
    width: 173px;
}

#pbuttonu693108 #u693109-4,
#pbuttonu693098 #u693099-4 {
    position: relative;
    margin-right: -10000px;
    left: 1px;
}

#pbuttonu693100 {
    z-index: 199;
    width: 0.01px;
    height: 0px;
    padding-bottom: 40px;
    margin-bottom: -3px;
    margin-right: -10000px;
    margin-left: 485px;
}

#buttonu693100 {
    z-index: 199;
    width: 92px;
    height: 37px;
    border-style: solid;
    border-color: #A41111;
    background-color: transparent;
    position: fixed;
    top: 24px;
    left: 50%;
    margin-left: 240px;
    border-width: 0px 0px 2px;
}

#pbuttonu693100:hover #buttonu693100 {
    width: 92px;
    height: 37px;
    border-style: solid;
    border-color: #C80000;
    position: fixed;
    top: 24px;
    left: 50%;
    margin-left: 240px;
    min-height: 0px;
    border-width: 0px 0px 3px;
}

#u693101-4 {
    z-index: 200;
    width: 92px;
    min-height: 23px;
    background-color: transparent;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #F0F0F0;
    text-align: center;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
}

#pbuttonu693100:hover #u693101-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
    margin-right: -10000px;
    min-height: 23px;
    width: 92px;
}

#pbuttonu693100:hover #u693101-4 p {
    color: #FFFFFF;
    visibility: inherit;
}

#pbuttonu693104 {
    z-index: 213;
    width: 0.01px;
    height: 0px;
    padding-bottom: 40px;
    margin-bottom: -3px;
    margin-right: -10000px;
    margin-left: 276px;
}

#buttonu693104 {
    z-index: 213;
    width: 92px;
    height: 37px;
    border-style: solid;
    border-color: #A41111;
    background-color: transparent;
    position: fixed;
    top: 24px;
    left: 50%;
    margin-left: 32px;
    border-width: 0px 0px 2px;
}

#pbuttonu693104:hover #buttonu693104 {
    width: 92px;
    height: 37px;
    border-style: solid;
    border-color: #C80000;
    position: fixed;
    top: 24px;
    left: 50%;
    margin-left: 32px;
    min-height: 0px;
    border-width: 0px 0px 3px;
}

#u693105-4 {
    z-index: 214;
    width: 92px;
    min-height: 23px;
    background-color: transparent;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #F0F0F0;
    text-align: center;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
}

#pbuttonu693104:hover #u693105-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
    margin-right: -10000px;
    min-height: 23px;
    width: 92px;
}

#pbuttonu693104:hover #u693105-4 p {
    color: #FFFFFF;
    visibility: inherit;
}

#pbuttonu693102.ButtonSelected #u693103-4 p,
#pbuttonu693106.ButtonSelected #u693107-4 p,
#pbuttonu693100.ButtonSelected #u693101-4 p,
#pbuttonu693104.ButtonSelected #u693105-4 p {
    color: #F0F0F0;
    visibility: inherit;
}

.js #u420255.ose_pre_init,
.js #buttonu693102.ose_pre_init,
.js #buttonu693106.ose_pre_init,
.js #buttonu693096.ose_pre_init,
.js #buttonu693100.ose_pre_init,
.js #buttonu693104.ose_pre_init {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
}

#pbuttonu693110 {
    z-index: 234;
    width: 0.01px;
    margin-bottom: -3px;
    margin-right: -10000px;
    margin-left: 276px;
}

#buttonu693110 {
    z-index: 234;
    width: 92px;
    height: 37px;
    border-style: solid;
    border-color: #A41111;
    background-color: transparent;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    position: relative;
    margin-right: -10000px;
    border-width: 0px 0px 2px;
}

#u693111-4 {
    z-index: 235;
    width: 92px;
    min-height: 23px;
    background-color: transparent;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #393B37;
    text-align: center;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
}

#pbuttonu693110:hover #u693111-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
    margin-right: -10000px;
    min-height: 23px;
    width: 92px;
}

#pbuttonu693112 {
    z-index: 241;
    width: 0.01px;
    margin-bottom: -3px;
    margin-right: -10000px;
    margin-left: 485px;
}

#buttonu693112 {
    z-index: 241;
    width: 92px;
    height: 37px;
    border-style: solid;
    border-color: #A41111;
    background-color: transparent;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    position: relative;
    margin-right: -10000px;
    border-width: 0px 0px 2px;
}

#pbuttonu693110:hover #buttonu693110,
#pbuttonu693112:hover #buttonu693112 {
    width: 92px;
    height: 37px;
    border-style: solid;
    border-color: #C80000;
    position: relative;
    margin-right: -10000px;
    margin-top: 0px;
    left: 0px;
    margin-left: 0px;
    min-height: 0px;
    border-width: 0px 0px 3px;
}

#u693113-4 {
    z-index: 242;
    width: 92px;
    min-height: 23px;
    background-color: transparent;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #393B37;
    text-align: center;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
}

#pbuttonu693112:hover #u693113-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
    margin-right: -10000px;
    min-height: 23px;
    width: 92px;
}

#pbuttonu693102.ButtonSelected #u693103-4,
#pbuttonu693108.ButtonSelected #u693109-4,
#pbuttonu693100.ButtonSelected #u693101-4,
#pbuttonu693104.ButtonSelected #u693105-4,
#pbuttonu693110.ButtonSelected #u693111-4,
#pbuttonu693112.ButtonSelected #u693113-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 23px;
    width: 92px;
}

#pbuttonu693106 #u693107-4,
#pbuttonu693114 #u693115-4,
#pbuttonu693100 #u693101-4,
#pbuttonu693104 #u693105-4,
#pbuttonu693110 #u693111-4,
#pbuttonu693112 #u693113-4 {
    position: relative;
    margin-right: -10000px;
}

.js #u420253.ose_pre_init,
.js #buttonu693108.ose_pre_init,
.js #buttonu693114.ose_pre_init,
.js #buttonu693098.ose_pre_init,
.js #buttonu693110.ose_pre_init,
.js #buttonu693112.ose_pre_init {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
}

#u420361-bw {
    margin-top: 12px;
}

#u419782-4-bw {
    margin-top: 8px;
}

#u426562 {
    width: 800px;
    height: 498px;
    margin-left: 220px;
    margin-top: 8px;
}

#u419682-4 {
    width: 349px;
    margin-left: 424px;
    margin-top: 26px;
}

.Btn-Wejdz-do-galerii {
    background-color: #D79898;
    background-color: rgba(164, 17, 17, 0.43);
}

.css_verticalspacer .verticalspacer {
    height: calc(100vh - 1029px);
}

#pu426576 {
    margin-top: 14px;
    margin-left: -25px;
}

#u426576_align_to_page {
    width: 1200px;
    left: -25px;
    padding-top: 25px;
    padding-bottom: 6px;
}

#ppu419675 {
    z-index: 0;
    width: 0.01px;
    left: 58px;
    position: relative;
}

#pu419675 {
    z-index: 29;
    width: 0.01px;
    padding-bottom: 0px;
    margin-right: -10000px;
}

#u419675 {
    width: 107px;
    margin-left: 4px;
}

#u426563 {
    width: 155px;
    margin-left: 1px;
    margin-top: 23px;
}

#u426568 {
    width: 48px;
}

#u426571 {
    width: 48px;
    padding-bottom: 7px;
}

#u426569 {
    width: 12px;
    margin-top: 7px;
    left: 18px;
}

#u426570 {
    margin-bottom: 1px;
}

#u426564 {
    width: 48px;
    left: 53px;
}

#u426567 {
    width: 48px;
    padding-bottom: 9px;
}

#u426565 {
    width: 28px;
    margin-top: 9px;
    left: 10px;
}

#u426572 {
    width: 48px;
    left: 107px;
}

#u426575 {
    width: 48px;
    padding-bottom: 11px;
}

#u426571:hover,
#u426567:hover,
#u426575:hover {
    margin-left: 0px;
    width: 48px;
}

#u426573 {
    width: 18px;
    margin-top: 11px;
    left: 15px;
}

#u426566,
#u426574 {
    margin-bottom: 2px;
}

#u427082 {
    width: 205px;
    margin-top: 24px;
}

#u427083-4 {
    width: 29px;
    min-height: 21px;
    font-size: 18px;
    line-height: 22px;
}

#u427086-4 {
    width: 29px;
    min-height: 21px;
    font-size: 18px;
    line-height: 22px;
    left: 52px;
}

#u427084-4 {
    width: 29px;
    min-height: 21px;
    font-size: 18px;
    line-height: 22px;
    left: 105px;
}

#u427085-4 {
    width: 29px;
    min-height: 21px;
    font-size: 18px;
    line-height: 22px;
    left: 156px;
}

#u427083-4:hover,
#u427086-4:hover,
#u427084-4.MuseLinkActive,
#u427085-4:hover {
    margin-left: 0px;
    min-height: 21px;
    width: 29px;
}

#u426551 {
    width: 417px;
    margin-left: 1px;
    margin-top: 15px;
}

#u426552 {
    width: 44px;
    margin-top: 1px;
}

#u426556 {
    width: 102px;
    margin-top: 1px;
    left: 60px;
}

#u426554 {
    width: 29px;
    margin-top: 1px;
    left: 173px;
}

#u426558 {
    width: 120px;
    margin-top: 1px;
    left: 223px;
}

#u426560 {
    width: 63px;
    left: 354px;
}

#u505490-17 {
    width: 343px;
    min-height: 174px;
    margin-right: -10000px;
    left: 804px;
}

#u505490-2,
#u505490-4 {
    line-height: 24px;
}

#u505491 {
    width: 366px;
    margin-right: -10000px;
    left: 448px;
}

#pu505542-4 {
    width: 0.01px;
    margin-top: 1px;
}

#u505542-4 {
    width: 97px;
    margin-left: 20px;
}

#menuu505492 {
    width: 137px;
    margin-top: 5px;
}

#u505517 {
    width: 137px;
    min-height: 19px;
    padding-bottom: 8px;
}

#u505518-4 {
    width: 137px;
    min-height: 19px;
    font-size: 16px;
    line-height: 19px;
    top: 4px;
}

#u505517:hover,
#u505517:hover #u505518-4 {
    width: 137px;
    min-height: 19px;
}

#u505529 {
    width: 137px;
    min-height: 19px;
    padding-bottom: 8px;
}

#u505531-4 {
    width: 137px;
    min-height: 19px;
    font-size: 16px;
    line-height: 19px;
    top: 4px;
}

#u505517.MuseMenuActive #u505518-4,
#u505529:hover,
#u505529:hover #u505531-4 {
    min-height: 19px;
    width: 137px;
}

#u505495-4 {
    width: 137px;
    min-height: 19px;
    font-size: 16px;
    line-height: 19px;
    top: 4px;
}

#u505529.MuseMenuActive #u505531-4,
#u505494:hover #u505495-4 {
    min-height: 19px;
    width: 137px;
}

#u505502-4 {
    width: 137px;
    min-height: 19px;
    font-size: 16px;
    line-height: 19px;
    top: 4px;
}

#u505494.MuseMenuActive #u505495-4,
#u505501:hover #u505502-4 {
    min-height: 19px;
    width: 137px;
}

#u505513-4 {
    width: 137px;
    min-height: 19px;
    font-size: 16px;
    line-height: 19px;
    top: 4px;
}

#u505501.MuseMenuActive #u505502-4,
#u505510:hover #u505513-4 {
    min-height: 19px;
    width: 137px;
}

#u505494,
#u505501,
#u505510,
#u505536 {
    width: 137px;
    min-height: 19px;
    padding-bottom: 8px;
}

#u505539-4 {
    width: 137px;
    min-height: 19px;
    font-size: 16px;
    line-height: 19px;
    top: 4px;
}

#u505510.MuseMenuActive #u505513-4,
#u505536:hover #u505539-4 {
    min-height: 19px;
    width: 137px;
}

#u505514,
#u505528,
#u505493,
#u505500,
#u505507,
#u505535,
#u505521 {
    width: 137px;
}

#u505524 {
    width: 137px;
    min-height: 19px;
    padding-bottom: 9px;
}

#u505527-4 {
    width: 137px;
    min-height: 19px;
    font-size: 16px;
    line-height: 19px;
    top: 4px;
}

#u505536.MuseMenuActive #u505539-4,
#u505524:hover #u505527-4 {
    min-height: 19px;
    width: 137px;
}

#u505524.MuseMenuActive #u505527-4 {
    min-height: 19px;
    width: 137px;
}

#u505543 {
    width: 185px;
    padding-bottom: 0px;
    left: 181px;
}

#u505544-4 {
    width: 185px;
    min-height: 21px;
}

#menuu505545 {
    width: 185px;
    height: 106px;
    margin-top: 6px;
}

#u505556 {
    width: 185px;
    min-height: 19px;
    padding-bottom: 2px;
}

#u505559-4 {
    width: 185px;
    min-height: 19px;
    font-size: 16px;
    line-height: 19px;
    top: 1px;
}

#u505556:hover #u505559-4 {
    margin-bottom: 0px;
    min-height: 19px;
    width: 185px;
}

#u505575 {
    width: 185px;
    min-height: 19px;
    padding-bottom: 2px;
}

#u505577-4 {
    width: 185px;
    min-height: 19px;
    font-size: 16px;
    line-height: 19px;
    top: 1px;
}

#u505556.MuseMenuActive #u505559-4,
#u505575:hover #u505577-4 {
    margin-bottom: 0px;
    min-height: 19px;
    width: 185px;
}

#u505549 {
    width: 185px;
    min-height: 19px;
    padding-bottom: 2px;
}

#u505550-4 {
    width: 185px;
    min-height: 19px;
    font-size: 16px;
    line-height: 19px;
    top: 1px;
}

#u505575.MuseMenuActive #u505577-4,
#u505549:hover #u505550-4 {
    margin-bottom: 0px;
    min-height: 19px;
    width: 185px;
}

#u505549.MuseMenuActive #u505550-4 {
    margin-bottom: 0px;
    min-height: 19px;
    width: 185px;
}

#u505570 {
    width: 185px;
    min-height: 19px;
    padding-bottom: 2px;
}

#u505573-4 {
    width: 185px;
    min-height: 19px;
    font-size: 16px;
    line-height: 19px;
    top: 1px;
}

#u505556:hover,
#u505575:hover,
#u505549:hover,
#u505570:hover,
#u505570:hover #u505573-4 {
    width: 185px;
    min-height: 19px;
}

#u505553,
#u505574,
#u505546,
#u505567,
#u505560 {
    width: 185px;
}

#u505563 {
    width: 185px;
    min-height: 19px;
    padding-bottom: 3px;
}

#u505564-4 {
    width: 185px;
    min-height: 19px;
    font-size: 16px;
    line-height: 19px;
    top: 1px;
}

#u505570.MuseMenuActive #u505573-4,
#u505563:hover,
#u505563:hover #u505564-4 {
    min-height: 19px;
    width: 185px;
}

#u505563.MuseMenuActive #u505564-4 {
    min-height: 19px;
    width: 185px;
}

#u505489-4 {
    width: 360px;
    min-height: 24px;
    left: 452px;
    top: -5px;
    margin-bottom: -5px;
}

#u426576,
#u426576-bw {
    min-height: 296px;
}

#u426577-bw {
    margin-top: 11px;
}

body {
    min-width: 1200px;
}

.verticalspacer {
    min-height: 20px;
}