#muse_css_mq {
    background-color: #FFFFFF;
}

#bp_infinity.active {
    display: block;
}

#page {
    width: 1200px;
    min-height: 498px;
    padding-bottom: 2px;
}

#pu61988 {
    z-index: 266;
    width: 0.01px;
    height: 0px;
    padding-bottom: 74px;
    margin-right: -10000px;
    margin-top: -1px;
}

#u61988 {
    z-index: 266;
    height: 74px;
    position: fixed;
    top: -1px;
}

#u61988-bw {
    z-index: 266;
}

#u154556 {
    z-index: 267;
    width: 96px;
    position: fixed;
    top: 28px;
    left: 50%;
    margin-left: -546px;
}

#u154557 {
    z-index: 268;
}

#u154558 {
    z-index: 269;
    width: 96px;
    position: fixed;
    top: 27px;
    left: 50%;
    margin-left: -547px;
}

#u154559 {
    z-index: 270;
}

#u461093 {
    z-index: 271;
    width: 205px;
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    padding-bottom: 47px;
    position: fixed;
    top: 20px;
    left: 50%;
    margin-left: 395px;
}

#u461094-4 {
    z-index: 272;
    width: 29px;
    min-height: 21px;
    -webkit-transition-duration: 1s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 1s;
    transition-delay: 0s;
    transition-timing-function: ease;
    background-image: url("../images/blank.gif?crc=4208392903");
    background-color: #A41111;
    color: #F0F0F0;
    font-size: 18px;
    text-align: center;
    line-height: 22px;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
    position: fixed;
    top: 20px;
    left: 50%;
    margin-left: 395px;
    padding: 15px 10px 10px;
}

#u461094-4:hover {
    background-color: #C80000;
    padding-top: 15px;
    padding-bottom: 10px;
    min-height: 21px;
    width: 29px;
    margin: 0px 0px 0px 395px;
}

#u461095-4 {
    z-index: 276;
    width: 29px;
    min-height: 21px;
    -webkit-transition-duration: 1s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 1s;
    transition-delay: 0s;
    transition-timing-function: ease;
    background-image: url("../images/blank.gif?crc=4208392903");
    background-color: #A41111;
    color: #F0F0F0;
    font-size: 18px;
    text-align: center;
    line-height: 22px;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
    position: fixed;
    top: 20px;
    left: 50%;
    margin-left: 448px;
    padding: 15px 10px 10px;
}

#u461095-4.MuseLinkActive {
    background-color: #C80000;
    padding-top: 15px;
    padding-bottom: 10px;
    min-height: 21px;
    width: 29px;
    margin: 0px 0px 0px 448px;
}

#u461096-4 {
    z-index: 280;
    width: 29px;
    min-height: 21px;
    -webkit-transition-duration: 1s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 1s;
    transition-delay: 0s;
    transition-timing-function: ease;
    background-image: url("../images/blank.gif?crc=4208392903");
    background-color: #A41111;
    color: #F0F0F0;
    font-size: 18px;
    text-align: center;
    line-height: 22px;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
    position: fixed;
    top: 20px;
    left: 50%;
    margin-left: 500px;
    padding: 15px 10px 10px;
}

#u461096-4:hover {
    background-color: #C80000;
    padding-top: 15px;
    padding-bottom: 10px;
    min-height: 21px;
    width: 29px;
    margin: 0px 0px 0px 500px;
}

#u461097-4 {
    z-index: 284;
    width: 29px;
    min-height: 21px;
    -webkit-transition-duration: 1s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 1s;
    transition-delay: 0s;
    transition-timing-function: ease;
    background-image: url("../images/blank.gif?crc=4208392903");
    background-color: #A41111;
    color: #F0F0F0;
    font-size: 18px;
    text-align: center;
    line-height: 22px;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
    position: fixed;
    top: 20px;
    left: 50%;
    margin-left: 551px;
    padding: 15px 10px 10px;
}

#u461097-4:hover {
    background-color: #C80000;
    padding-top: 15px;
    padding-bottom: 10px;
    min-height: 21px;
    width: 29px;
    margin: 0px 0px 0px 551px;
}

#ppppbuttonu711619 {
    z-index: 0;
    width: 0.01px;
    height: 3285px;
    margin-right: -10000px;
    margin-top: 22px;
    margin-left: -25px;
}

#pppbuttonu711619 {
    z-index: 0;
    width: 0.01px;
    height: 41px;
    margin-left: 513px;
}

#ppbuttonu711619 {
    z-index: 316;
    width: 0.01px;
    height: 41px;
    margin-right: -10000px;
    margin-left: 94px;
}

#pbuttonu711619 {
    z-index: 317;
    width: 0.01px;
    height: 0px;
    padding-bottom: 43px;
    margin-bottom: -2px;
    margin-right: -10000px;
}

#buttonu711619 {
    z-index: 317;
    width: 93px;
    height: 40px;
    border-style: solid;
    border-color: #A41111;
    background-color: transparent;
    position: fixed;
    top: 22px;
    left: 50%;
    margin-left: -18px;
    border-width: 0px 0px 2px;
}

#pbuttonu711619:hover #buttonu711619 {
    width: 93px;
    height: 40px;
    border-style: solid;
    border-color: #C80000;
    position: fixed;
    top: 22px;
    left: 50%;
    margin-left: -18px;
    min-height: 0px;
    border-width: 0px 0px 3px;
}

#u711620-4 {
    z-index: 318;
    width: 92px;
    min-height: 23px;
    background-color: transparent;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #F0F0F0;
    text-align: center;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
}

#pbuttonu711619:hover #u711620-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
    margin-right: -10000px;
    margin-top: 3px;
    left: 1px;
    min-height: 23px;
    width: 92px;
}

#pbuttonu711619:hover #u711620-4 p {
    color: #FFFFFF;
    visibility: inherit;
}

#pbuttonu711619 #u711620-4 {
    position: relative;
    margin-right: -10000px;
    margin-top: 3px;
    left: 1px;
}

#pbuttonu711621 {
    z-index: 324;
    width: 0.01px;
    margin-bottom: -3px;
    margin-right: -10000px;
    margin-top: 4px;
}

#buttonu711621 {
    z-index: 324;
    width: 93px;
    height: 37px;
    border-style: solid;
    border-color: #A41111;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    border-width: 0px 0px 2px;
}

#pbuttonu711621:hover #buttonu711621 {
    width: 93px;
    height: 37px;
    border-style: solid;
    border-color: #C80000;
    position: relative;
    margin-right: -10000px;
    margin-top: 0px;
    left: 0px;
    margin-left: 0px;
    min-height: 0px;
    border-width: 0px 0px 3px;
}

#u711622-4 {
    z-index: 325;
    width: 92px;
    min-height: 23px;
    background-color: transparent;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #393B37;
    text-align: center;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
}

#pbuttonu711621:hover #u711622-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
    margin-right: -10000px;
    left: 1px;
    min-height: 23px;
    width: 92px;
}

#pbuttonu711621 #u711622-4 {
    position: relative;
    margin-right: -10000px;
    left: 1px;
}

#ppbuttonu711613 {
    z-index: 295;
    width: 0.01px;
    height: 38px;
    margin-right: -10000px;
    margin-top: 3px;
    margin-left: 283px;
}

#pbuttonu711613 {
    z-index: 296;
    width: 0.01px;
    height: 0px;
    padding-bottom: 40px;
    margin-bottom: -2px;
    margin-right: -10000px;
}

#buttonu711613 {
    z-index: 296;
    width: 92px;
    height: 37px;
    border-style: solid;
    border-color: #A41111;
    background-color: transparent;
    position: fixed;
    top: 25px;
    left: 50%;
    margin-left: 171px;
    border-width: 0px 0px 2px;
}

#pbuttonu711613.ButtonSelected #buttonu711613 {
    width: 92px;
    height: 37px;
    border-style: solid;
    border-color: #C80000;
    position: fixed;
    top: 25px;
    left: 50%;
    margin-left: 171px;
    min-height: 0px;
    border-width: 0px 0px 3px;
}

#u711614-4 {
    z-index: 297;
    width: 92px;
    min-height: 23px;
    background-color: transparent;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #F0F0F0;
    text-align: center;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
}

#pbuttonu711619.ButtonSelected #u711620-4,
#pbuttonu711621.ButtonSelected #u711622-4,
#pbuttonu711613:hover #u711614-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 23px;
    width: 92px;
}

#pbuttonu711613:hover #u711614-4 p {
    color: #FFFFFF;
    visibility: inherit;
}

#pbuttonu711627 {
    z-index: 345;
    width: 0.01px;
    margin-bottom: -3px;
    margin-right: -10000px;
    margin-top: 1px;
}

#buttonu711627 {
    z-index: 345;
    width: 92px;
    height: 37px;
    border-style: solid;
    border-color: #A41111;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    border-width: 0px 0px 2px;
}

#u711628-4 {
    z-index: 346;
    width: 92px;
    min-height: 23px;
    background-color: transparent;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #393B37;
    text-align: center;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
}

#pbuttonu711627:hover #u711628-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 23px;
    width: 92px;
}

#pbuttonu711611 {
    z-index: 289;
    width: 0.01px;
    height: 0px;
    padding-bottom: 40px;
    margin: 3px -10000px -2px 377px;
}

#buttonu711611 {
    z-index: 289;
    width: 92px;
    height: 37px;
    border-style: solid;
    border-color: #A41111;
    background-color: transparent;
    position: fixed;
    top: 25px;
    left: 50%;
    margin-left: 265px;
    border-width: 0px 0px 2px;
}

#pbuttonu711611:hover #buttonu711611 {
    width: 92px;
    height: 37px;
    border-style: solid;
    border-color: #C80000;
    position: fixed;
    top: 25px;
    left: 50%;
    margin-left: 265px;
    min-height: 0px;
    border-width: 0px 0px 3px;
}

#u711612-4 {
    z-index: 290;
    width: 92px;
    min-height: 23px;
    background-color: transparent;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #F0F0F0;
    text-align: center;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
}

#pbuttonu711613.ButtonSelected #u711614-4,
#pbuttonu711627.ButtonSelected #u711628-4,
#pbuttonu711611:hover #u711612-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
    margin-right: -10000px;
    min-height: 23px;
    width: 92px;
}

#pbuttonu711611:hover #u711612-4 p {
    color: #FFFFFF;
    visibility: inherit;
}

#pbuttonu711615 {
    z-index: 303;
    width: 0.01px;
    height: 0px;
    padding-bottom: 40px;
    margin: 3px -10000px -2px 189px;
}

#buttonu711615 {
    z-index: 303;
    width: 92px;
    height: 37px;
    border-style: solid;
    border-color: #A41111;
    background-color: transparent;
    position: fixed;
    top: 25px;
    left: 50%;
    margin-left: 77px;
    border-width: 0px 0px 2px;
}

#pbuttonu711615:hover #buttonu711615 {
    width: 92px;
    height: 37px;
    border-style: solid;
    border-color: #C80000;
    position: fixed;
    top: 25px;
    left: 50%;
    margin-left: 77px;
    min-height: 0px;
    border-width: 0px 0px 3px;
}

#u711616-4 {
    z-index: 304;
    width: 92px;
    min-height: 23px;
    background-color: transparent;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #F0F0F0;
    text-align: center;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
}

#pbuttonu711615:hover #u711616-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
    margin-right: -10000px;
    min-height: 23px;
    width: 92px;
}

#pbuttonu711615:hover #u711616-4 p {
    color: #FFFFFF;
    visibility: inherit;
}

#pbuttonu711619.ButtonSelected #u711620-4 p,
#pbuttonu711613.ButtonSelected #u711614-4 p,
#pbuttonu711611.ButtonSelected #u711612-4 p,
#pbuttonu711615.ButtonSelected #u711616-4 p {
    color: #F0F0F0;
    visibility: inherit;
}

#pbuttonu711617 {
    z-index: 310;
    width: 0.01px;
    height: 0px;
    padding-bottom: 40px;
    margin-bottom: -2px;
    margin-right: -10000px;
    margin-top: 3px;
}

#buttonu711617 {
    z-index: 310;
    width: 92px;
    height: 37px;
    border-style: solid;
    border-color: #A41111;
    background-color: transparent;
    position: fixed;
    top: 25px;
    left: 50%;
    margin-left: -112px;
    border-width: 0px 0px 2px;
}

#pbuttonu711617:hover #buttonu711617 {
    width: 92px;
    height: 37px;
    border-style: solid;
    border-color: #C80000;
    position: fixed;
    top: 25px;
    left: 50%;
    margin-left: -112px;
    min-height: 0px;
    border-width: 0px 0px 3px;
}

#u711618-4 {
    z-index: 311;
    width: 92px;
    min-height: 23px;
    background-color: transparent;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #F0F0F0;
    text-align: center;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
}

#pbuttonu711617:hover #u711618-4 p {
    color: #FFFFFF;
    visibility: inherit;
}

.js #u154556.ose_pre_init,
.js #buttonu711619.ose_pre_init,
.js #buttonu711613.ose_pre_init,
.js #buttonu711611.ose_pre_init,
.js #buttonu711615.ose_pre_init,
.js #buttonu711617.ose_pre_init {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
}

#pbuttonu711623 {
    z-index: 331;
    width: 0.01px;
    margin-bottom: -3px;
    margin-right: -10000px;
    margin-top: 4px;
}

#buttonu711623 {
    z-index: 331;
    width: 92px;
    height: 37px;
    border-style: solid;
    border-color: #A41111;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    border-width: 0px 0px 2px;
}

#u711624-4 {
    z-index: 332;
    width: 92px;
    min-height: 23px;
    background-color: transparent;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #393B37;
    text-align: center;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
}

#pbuttonu711617:hover #u711618-4,
#pbuttonu711623:hover #u711624-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
    margin-right: -10000px;
    min-height: 23px;
    width: 92px;
}

#pbuttonu711625 {
    z-index: 338;
    width: 0.01px;
    margin: 4px -10000px -3px 189px;
}

#buttonu711625 {
    z-index: 338;
    width: 92px;
    height: 37px;
    border-style: solid;
    border-color: #A41111;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    border-width: 0px 0px 2px;
}

#u711626-4 {
    z-index: 339;
    width: 92px;
    min-height: 23px;
    background-color: transparent;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #393B37;
    text-align: center;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
}

#pbuttonu711625:hover #u711626-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
    margin-right: -10000px;
    min-height: 23px;
    width: 92px;
}

#pbuttonu711629 {
    z-index: 352;
    width: 0.01px;
    margin: 4px -10000px -3px 378px;
}

#buttonu711629 {
    z-index: 352;
    width: 92px;
    height: 37px;
    border-style: solid;
    border-color: #A41111;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    border-width: 0px 0px 2px;
}

#pbuttonu711627.ButtonSelected #buttonu711627,
#pbuttonu711623:hover #buttonu711623,
#pbuttonu711625:hover #buttonu711625,
#pbuttonu711629:hover #buttonu711629 {
    width: 92px;
    height: 37px;
    border-style: solid;
    border-color: #C80000;
    position: relative;
    margin-right: -10000px;
    margin-top: 0px;
    left: 0px;
    margin-left: 0px;
    min-height: 0px;
    border-width: 0px 0px 3px;
}

#u711630-4 {
    z-index: 353;
    width: 92px;
    min-height: 23px;
    background-color: transparent;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #393B37;
    text-align: center;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
}

#pbuttonu711629:hover #u711630-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
    margin-right: -10000px;
    min-height: 23px;
    width: 92px;
}

#pbuttonu711611.ButtonSelected #u711612-4,
#pbuttonu711615.ButtonSelected #u711616-4,
#pbuttonu711623.ButtonSelected #u711624-4,
#pbuttonu711625.ButtonSelected #u711626-4,
#pbuttonu711629.ButtonSelected #u711630-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 23px;
    width: 92px;
}

#pbuttonu711613 #u711614-4,
#pbuttonu711627 #u711628-4,
#pbuttonu711611 #u711612-4,
#pbuttonu711615 #u711616-4,
#pbuttonu711617 #u711618-4,
#pbuttonu711623 #u711624-4,
#pbuttonu711625 #u711626-4,
#pbuttonu711629 #u711630-4 {
    position: relative;
    margin-right: -10000px;
}

.js #u154558.ose_pre_init,
.js #buttonu711621.ose_pre_init,
.js #buttonu711627.ose_pre_init,
.js #buttonu711623.ose_pre_init,
.js #buttonu711625.ose_pre_init,
.js #buttonu711629.ose_pre_init {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
}

#u64403-bw {
    margin-top: 10px;
}

#u65228-4-bw {
    margin-top: 8px;
}

#u62325 {
    width: 668px;
    height: 417px;
    margin-left: 286px;
    margin-top: 34px;
}

#u429957 {
    width: 1066px;
    height: 254px;
    margin-left: 92px;
    margin-top: 22px;
    position: relative;
}

#u62333_position_content {
    padding-top: 16px;
    padding-bottom: 62px;
    width: 100%;
}

#pu64385-4 {
    z-index: 67;
    width: 0.01px;
    margin-left: -25px;
}

#u64385-4,
#u434278-4 {
    width: 1066px;
    min-height: 46px;
    position: relative;
    margin-right: -10000px;
}

#pu64397 {
    z-index: 121;
    width: 0.01px;
    margin-left: 405px;
    margin-top: 71px;
}

.Btn-Wejdz-do-galerii {
    background-color: #D79898;
    background-color: rgba(164, 17, 17, 0.43);
}

#u64397,
#u434287 {
    width: 253px;
    margin-bottom: -1px;
}

#u64398-4,
#u434289-4 {
    width: 242px;
    min-height: 26px;
    font-size: 18px;
    line-height: 22px;
    margin-top: 12px;
}

#u62333,
#u62332 {
    width: 1066px;
    padding-bottom: 0px;
    margin-left: 92px;
    margin-top: 14px;
    position: relative;
}

#u62326 {
    width: 1066px;
    padding-bottom: 0px;
    margin-left: 92px;
    margin-top: 19px;
    position: relative;
}

#u62331,
#u62330,
#u62329,
#u62328,
#u62327,
#u62334 {
    width: 1066px;
    padding-bottom: 0px;
    margin-left: 92px;
    margin-top: 18px;
    position: relative;
}

#u62332_position_content,
#u62331_position_content,
#u62330_position_content,
#u62329_position_content,
#u62328_position_content,
#u62327_position_content,
#u62326_position_content,
#u62334_position_content {
    padding-top: 16px;
    padding-bottom: 61px;
    width: 100%;
}

#u64380-4,
#u64368-4,
#u64369-4,
#u64367-4,
#u64379-4,
#u64386-4,
#u64393-4,
#u64384-4 {
    width: 1066px;
    min-height: 46px;
    left: -25px;
    position: relative;
}

#u64364,
#u64387,
#u64370,
#u64376,
#u64381,
#u64394,
#u64390,
#u64373 {
    width: 253px;
    margin-left: 405px;
    margin-top: 71px;
}

#u64399,
#u434288,
#u64365,
#u64388,
#u64372,
#u64377,
#u64382,
#u64395,
#u64392,
#u64374 {
    width: 251px;
    padding-bottom: 12px;
}

#u64366-4,
#u64389-4,
#u64371-4,
#u64378-4,
#u64383-4,
#u64396-4,
#u64391-4,
#u64375-4 {
    width: 242px;
    min-height: 26px;
    margin-top: 12px;
}

.css_verticalspacer .verticalspacer {
    height: calc(100vh - 3611px);
}

#pu61967 {
    margin-top: 8px;
    margin-left: -25px;
}

#u61967_align_to_page {
    width: 1200px;
    left: -25px;
    padding-top: 22px;
    padding-bottom: 5px;
}

#ppu175828 {
    z-index: 0;
    width: 0.01px;
    left: 58px;
    position: relative;
}

#pu175828 {
    z-index: 143;
    width: 0.01px;
    margin-right: -10000px;
}

#u175828 {
    width: 107px;
    margin-left: 4px;
}

#u61858 {
    width: 155px;
    margin-left: 1px;
    margin-top: 25px;
}

#u61863 {
    width: 48px;
}

#u61866 {
    width: 48px;
    padding-bottom: 7px;
}

#u61864 {
    width: 12px;
    margin-top: 7px;
    left: 18px;
}

#u61865 {
    margin-bottom: 1px;
}

#u61859 {
    width: 48px;
    left: 53px;
}

#u61862 {
    width: 48px;
    padding-bottom: 9px;
}

#u61860 {
    width: 28px;
    margin-top: 9px;
    left: 10px;
}

#u61867 {
    width: 48px;
    left: 107px;
}

#u61870 {
    width: 48px;
    padding-bottom: 11px;
}

#u61866:hover,
#u61862:hover,
#u61870:hover {
    margin-left: 0px;
    width: 48px;
}

#u61868 {
    width: 18px;
    margin-top: 11px;
    left: 15px;
}

#u61861,
#u61869 {
    margin-bottom: 2px;
}

#u247695 {
    width: 205px;
    margin-top: 27px;
}

#u247696-4 {
    width: 29px;
    min-height: 21px;
    font-size: 18px;
    line-height: 22px;
}

#u247696-4:hover {
    margin-left: 0px;
    min-height: 21px;
    width: 29px;
}

#u247697-4 {
    width: 29px;
    min-height: 21px;
    font-size: 18px;
    line-height: 22px;
    margin-top: 1px;
    left: 52px;
}

#u247698-4 {
    width: 29px;
    min-height: 21px;
    font-size: 18px;
    line-height: 22px;
    margin-top: 1px;
    left: 105px;
}

#u247699-4 {
    width: 29px;
    min-height: 21px;
    font-size: 18px;
    line-height: 22px;
    margin-top: 1px;
    left: 156px;
}

#u247697-4.MuseLinkActive,
#u247698-4:hover,
#u247699-4:hover {
    margin-left: 0px;
    margin-top: 1px;
    min-height: 21px;
    width: 29px;
}

#u61970 {
    width: 417px;
    margin-left: 1px;
    margin-top: 13px;
}

#u61979 {
    width: 44px;
    margin-top: 1px;
}

#u61973 {
    width: 102px;
    margin-top: 1px;
    left: 60px;
}

#u61971 {
    width: 29px;
    margin-top: 1px;
    left: 173px;
}

#u61977 {
    width: 120px;
    margin-top: 1px;
    left: 223px;
}

#u61975 {
    width: 63px;
    left: 354px;
}

#u624007-15 {
    width: 343px;
    min-height: 174px;
    margin-right: -10000px;
    margin-top: 4px;
    left: 824px;
}

#u624007-2,
#u624007-4 {
    line-height: 24px;
}

#u624008 {
    width: 367px;
    margin-right: -10000px;
    margin-top: 4px;
    left: 468px;
}

#pu624009-4 {
    width: 0.01px;
    margin-top: 1px;
}

#u624009-4 {
    width: 97px;
    margin-left: 20px;
}

#menuu624048 {
    width: 137px;
    margin-top: 5px;
}

#u624057 {
    width: 137px;
    min-height: 19px;
    padding-bottom: 8px;
}

#u624058-4 {
    width: 137px;
    min-height: 19px;
    font-size: 16px;
    line-height: 19px;
    top: 4px;
}

#u624057:hover,
#u624057:hover #u624058-4 {
    width: 137px;
    min-height: 19px;
}

#u624064 {
    width: 137px;
    min-height: 19px;
    padding-bottom: 8px;
}

#u624066-4 {
    width: 137px;
    min-height: 19px;
    font-size: 16px;
    line-height: 19px;
    top: 4px;
}

#u624057.MuseMenuActive #u624058-4,
#u624064:hover,
#u624064:hover #u624066-4 {
    min-height: 19px;
    width: 137px;
}

#u624053-4 {
    width: 137px;
    min-height: 19px;
    font-size: 16px;
    line-height: 19px;
    top: 4px;
}

#u624064.MuseMenuActive #u624066-4,
#u624050:hover #u624053-4 {
    min-height: 19px;
    width: 137px;
}

#u624080-4 {
    width: 137px;
    min-height: 19px;
    font-size: 16px;
    line-height: 19px;
    top: 4px;
}

#u624050.MuseMenuActive #u624053-4,
#u624078:hover #u624080-4 {
    min-height: 19px;
    width: 137px;
}

#u624050,
#u624078,
#u624085 {
    width: 137px;
    min-height: 19px;
    padding-bottom: 8px;
}

#u624088-4 {
    width: 137px;
    min-height: 19px;
    font-size: 16px;
    line-height: 19px;
    top: 4px;
}

#u624078.MuseMenuActive #u624080-4,
#u624085.MuseMenuActive,
#u624085:hover #u624088-4 {
    min-height: 19px;
    width: 137px;
}

#u624092 {
    width: 137px;
    min-height: 19px;
    padding-bottom: 8px;
}

#u624095-4 {
    width: 137px;
    min-height: 19px;
    font-size: 16px;
    line-height: 19px;
    top: 4px;
}

#u624085.MuseMenuActive #u624088-4,
#u624092:hover #u624095-4 {
    min-height: 19px;
    width: 137px;
}

#u624056,
#u624063,
#u624049,
#u624077,
#u624084,
#u624091,
#u624070 {
    width: 137px;
}

#u624071 {
    width: 137px;
    min-height: 19px;
    padding-bottom: 9px;
}

#u624074-4 {
    width: 137px;
    min-height: 19px;
    font-size: 16px;
    line-height: 19px;
    top: 4px;
}

#u624092.MuseMenuActive #u624095-4,
#u624071:hover #u624074-4 {
    min-height: 19px;
    width: 137px;
}

#u624071.MuseMenuActive #u624074-4 {
    min-height: 19px;
    width: 137px;
}

#u624010 {
    width: 185px;
    padding-bottom: 0px;
    left: 182px;
}

#u624011-4 {
    width: 97px;
    min-height: 21px;
    margin-left: 44px;
}

#menuu624012 {
    width: 185px;
    height: 106px;
    margin-top: 6px;
}

#u624044 {
    width: 185px;
    min-height: 19px;
    padding-bottom: 2px;
}

#u624047-4 {
    width: 185px;
    min-height: 19px;
    font-size: 16px;
    line-height: 19px;
    top: 1px;
}

#u624044:hover #u624047-4 {
    margin-bottom: 0px;
    min-height: 19px;
    width: 185px;
}

#u624028 {
    width: 185px;
    min-height: 19px;
    padding-bottom: 2px;
}

#u624031-4 {
    width: 185px;
    min-height: 19px;
    font-size: 16px;
    line-height: 19px;
    top: 1px;
}

#u624044.MuseMenuActive #u624047-4,
#u624028:hover #u624031-4 {
    margin-bottom: 0px;
    min-height: 19px;
    width: 185px;
}

#u624014 {
    width: 185px;
    min-height: 19px;
    padding-bottom: 2px;
}

#u624016-4 {
    width: 185px;
    min-height: 19px;
    font-size: 16px;
    line-height: 19px;
    top: 1px;
}

#u624028.MuseMenuActive #u624031-4,
#u624014:hover #u624016-4 {
    margin-bottom: 0px;
    min-height: 19px;
    width: 185px;
}

#u624035 {
    width: 185px;
    min-height: 19px;
    padding-bottom: 2px;
}

#u624037-4 {
    width: 185px;
    min-height: 19px;
    font-size: 16px;
    line-height: 19px;
    top: 1px;
}

#u624044:hover,
#u624028:hover,
#u624014:hover,
#u624035:hover,
#u624035:hover #u624037-4 {
    width: 185px;
    min-height: 19px;
}

#u624041,
#u624027,
#u624013,
#u624034,
#u624020 {
    width: 185px;
}

#u624021 {
    width: 185px;
    min-height: 19px;
    padding-bottom: 3px;
}

#u624035.MuseMenuActive #u624037-4,
#u624021:hover {
    min-height: 19px;
    width: 185px;
}

#u624023-4 {
    width: 185px;
    min-height: 19px;
    font-size: 16px;
    line-height: 19px;
    top: 1px;
}

#u624014.MuseMenuActive #u624016-4,
#u624021:hover #u624023-4 {
    margin-bottom: 0px;
    min-height: 19px;
    width: 185px;
}

#u624021.MuseMenuActive #u624023-4 {
    margin-bottom: 0px;
    min-height: 19px;
    width: 185px;
}

#u624006-4 {
    width: 360px;
    min-height: 24px;
    left: 472px;
    top: -5px;
    margin-bottom: -5px;
}

#u61967,
#u61967-bw {
    min-height: 296px;
}

#u61968-bw {
    margin-top: 11px;
}

body {
    min-width: 1200px;
}