#muse_css_mq {
    background-color: #FFFFFF;
}

#bp_infinity.active {
    display: block;
}

#page {
    width: 1200px;
    min-height: 1049px;
}

#pu425105 {
    z-index: 160;
    width: 0.01px;
    height: 0px;
    padding-bottom: 74px;
    margin-right: -10000px;
    margin-top: -1px;
}

#u425105 {
    z-index: 160;
    height: 74px;
    position: fixed;
    top: -1px;
}

#u425105-bw {
    z-index: 160;
}

#u396623 {
    z-index: 161;
    width: 96px;
    position: fixed;
    top: 28px;
    left: 50%;
    margin-left: -546px;
}

#u396624 {
    z-index: 162;
}

#u396525 {
    z-index: 163;
    width: 96px;
    position: fixed;
    top: 27px;
    left: 50%;
    margin-left: -547px;
}

#u396526 {
    z-index: 164;
}

#u461204 {
    z-index: 165;
    width: 205px;
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    padding-bottom: 47px;
    position: fixed;
    top: 20px;
    left: 50%;
    margin-left: 395px;
}

#u461207-4 {
    z-index: 166;
    width: 29px;
    min-height: 21px;
    -webkit-transition-duration: 1s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 1s;
    transition-delay: 0s;
    transition-timing-function: ease;
    background-image: url("../images/blank.gif?crc=4208392903");
    background-color: #A41111;
    color: #F0F0F0;
    font-size: 18px;
    text-align: center;
    line-height: 22px;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
    position: fixed;
    top: 20px;
    left: 50%;
    margin-left: 395px;
    padding: 15px 10px 10px;
}

#u461207-4:hover {
    background-color: #C80000;
    padding-top: 15px;
    padding-bottom: 10px;
    min-height: 21px;
    width: 29px;
    margin: 0px 0px 0px 395px;
}

#u461208-4 {
    z-index: 170;
    width: 29px;
    min-height: 21px;
    -webkit-transition-duration: 1s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 1s;
    transition-delay: 0s;
    transition-timing-function: ease;
    background-image: url("../images/blank.gif?crc=4208392903");
    background-color: #A41111;
    color: #F0F0F0;
    font-size: 18px;
    text-align: center;
    line-height: 22px;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
    position: fixed;
    top: 20px;
    left: 50%;
    margin-left: 448px;
    padding: 15px 10px 10px;
}

#u461208-4.MuseLinkActive {
    background-color: #C80000;
    padding-top: 15px;
    padding-bottom: 10px;
    min-height: 21px;
    width: 29px;
    margin: 0px 0px 0px 448px;
}

#u461205-4 {
    z-index: 174;
    width: 29px;
    min-height: 21px;
    -webkit-transition-duration: 1s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 1s;
    transition-delay: 0s;
    transition-timing-function: ease;
    background-image: url("../images/blank.gif?crc=4208392903");
    background-color: #A41111;
    color: #F0F0F0;
    font-size: 18px;
    text-align: center;
    line-height: 22px;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
    position: fixed;
    top: 20px;
    left: 50%;
    margin-left: 500px;
    padding: 15px 10px 10px;
}

#u461205-4:hover {
    background-color: #C80000;
    padding-top: 15px;
    padding-bottom: 10px;
    min-height: 21px;
    width: 29px;
    margin: 0px 0px 0px 500px;
}

#u461206-4 {
    z-index: 178;
    width: 29px;
    min-height: 21px;
    -webkit-transition-duration: 1s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 1s;
    transition-delay: 0s;
    transition-timing-function: ease;
    background-image: url("../images/blank.gif?crc=4208392903");
    background-color: #A41111;
    color: #F0F0F0;
    font-size: 18px;
    text-align: center;
    line-height: 22px;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
    position: fixed;
    top: 20px;
    left: 50%;
    margin-left: 551px;
    padding: 15px 10px 10px;
}

#u461206-4:hover {
    background-color: #C80000;
    padding-top: 15px;
    padding-bottom: 10px;
    min-height: 21px;
    width: 29px;
    margin: 0px 0px 0px 551px;
}

#ppppbuttonu711945 {
    z-index: 0;
    width: 0.01px;
    height: 697.85px;
    padding-bottom: 0px;
    margin-right: -10000px;
    margin-top: 22px;
    margin-left: -25px;
}

#pppbuttonu711945 {
    z-index: 0;
    width: 0.01px;
    height: 41px;
    margin-left: 513px;
}

#ppbuttonu711945 {
    z-index: 210;
    width: 0.01px;
    height: 41px;
    margin-right: -10000px;
    margin-left: 94px;
}

#pbuttonu711945 {
    z-index: 211;
    width: 0.01px;
    height: 0px;
    padding-bottom: 43px;
    margin-bottom: -2px;
    margin-right: -10000px;
}

#buttonu711945 {
    z-index: 211;
    width: 93px;
    height: 40px;
    border-style: solid;
    border-color: #A41111;
    background-color: transparent;
    position: fixed;
    top: 22px;
    left: 50%;
    margin-left: -18px;
    border-width: 0px 0px 2px;
}

#pbuttonu711945:hover #buttonu711945 {
    width: 93px;
    height: 40px;
    border-style: solid;
    border-color: #C80000;
    position: fixed;
    top: 22px;
    left: 50%;
    margin-left: -18px;
    min-height: 0px;
    border-width: 0px 0px 3px;
}

#u711946-4 {
    z-index: 212;
    width: 92px;
    min-height: 23px;
    background-color: transparent;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #F0F0F0;
    text-align: center;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
}

#pbuttonu711945:hover #u711946-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
    margin-right: -10000px;
    margin-top: 3px;
    left: 1px;
    min-height: 23px;
    width: 92px;
}

#pbuttonu711945:hover #u711946-4 p {
    color: #FFFFFF;
    visibility: inherit;
}

#pbuttonu711945 #u711946-4 {
    position: relative;
    margin-right: -10000px;
    margin-top: 3px;
    left: 1px;
}

#pbuttonu711947 {
    z-index: 218;
    width: 0.01px;
    margin-bottom: -3px;
    margin-right: -10000px;
    margin-top: 4px;
}

#buttonu711947 {
    z-index: 218;
    width: 93px;
    height: 37px;
    border-style: solid;
    border-color: #A41111;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    border-width: 0px 0px 2px;
}

#pbuttonu711947:hover #buttonu711947 {
    width: 93px;
    height: 37px;
    border-style: solid;
    border-color: #C80000;
    position: relative;
    margin-right: -10000px;
    margin-top: 0px;
    left: 0px;
    margin-left: 0px;
    min-height: 0px;
    border-width: 0px 0px 3px;
}

#u711948-4 {
    z-index: 219;
    width: 92px;
    min-height: 23px;
    background-color: transparent;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #393B37;
    text-align: center;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
}

#pbuttonu711947:hover #u711948-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
    margin-right: -10000px;
    left: 1px;
    min-height: 23px;
    width: 92px;
}

#pbuttonu711947 #u711948-4 {
    position: relative;
    margin-right: -10000px;
    left: 1px;
}

#ppbuttonu711939 {
    z-index: 189;
    width: 0.01px;
    height: 38px;
    margin-right: -10000px;
    margin-top: 3px;
    margin-left: 283px;
}

#pbuttonu711939 {
    z-index: 190;
    width: 0.01px;
    height: 0px;
    padding-bottom: 40px;
    margin-bottom: -2px;
    margin-right: -10000px;
}

#buttonu711939 {
    z-index: 190;
    width: 92px;
    height: 37px;
    border-style: solid;
    border-color: #A41111;
    background-color: transparent;
    position: fixed;
    top: 25px;
    left: 50%;
    margin-left: 171px;
    border-width: 0px 0px 2px;
}

#pbuttonu711939:hover #buttonu711939 {
    width: 92px;
    height: 37px;
    border-style: solid;
    border-color: #C80000;
    position: fixed;
    top: 25px;
    left: 50%;
    margin-left: 171px;
    min-height: 0px;
    border-width: 0px 0px 3px;
}

#u711940-4 {
    z-index: 191;
    width: 92px;
    min-height: 23px;
    background-color: transparent;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #F0F0F0;
    text-align: center;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
}

#pbuttonu711939:hover #u711940-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
    margin-right: -10000px;
    min-height: 23px;
    width: 92px;
}

#pbuttonu711939:hover #u711940-4 p {
    color: #FFFFFF;
    visibility: inherit;
}

#pbuttonu711953 {
    z-index: 239;
    width: 0.01px;
    margin-bottom: -3px;
    margin-right: -10000px;
    margin-top: 1px;
}

#buttonu711953 {
    z-index: 239;
    width: 92px;
    height: 37px;
    border-style: solid;
    border-color: #A41111;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    border-width: 0px 0px 2px;
}

#u711954-4 {
    z-index: 240;
    width: 92px;
    min-height: 23px;
    background-color: transparent;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #393B37;
    text-align: center;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
}

#pbuttonu711953:hover #u711954-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
    margin-right: -10000px;
    min-height: 23px;
    width: 92px;
}

#pbuttonu711937 {
    z-index: 183;
    width: 0.01px;
    height: 0px;
    padding-bottom: 40px;
    margin: 3px -10000px -2px 377px;
}

#buttonu711937 {
    z-index: 183;
    width: 92px;
    height: 37px;
    border-style: solid;
    border-color: #A41111;
    background-color: transparent;
    position: fixed;
    top: 25px;
    left: 50%;
    margin-left: 265px;
    border-width: 0px 0px 2px;
}

#pbuttonu711937:hover #buttonu711937 {
    width: 92px;
    height: 37px;
    border-style: solid;
    border-color: #C80000;
    position: fixed;
    top: 25px;
    left: 50%;
    margin-left: 265px;
    min-height: 0px;
    border-width: 0px 0px 3px;
}

#u711938-4 {
    z-index: 184;
    width: 92px;
    min-height: 23px;
    background-color: transparent;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #F0F0F0;
    text-align: center;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
}

#pbuttonu711937:hover #u711938-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
    margin-right: -10000px;
    min-height: 23px;
    width: 92px;
}

#pbuttonu711937:hover #u711938-4 p {
    color: #FFFFFF;
    visibility: inherit;
}

#pbuttonu711941 {
    z-index: 197;
    width: 0.01px;
    height: 0px;
    padding-bottom: 40px;
    margin: 3px -10000px -2px 189px;
}

#buttonu711941 {
    z-index: 197;
    width: 92px;
    height: 37px;
    border-style: solid;
    border-color: #A41111;
    background-color: transparent;
    position: fixed;
    top: 25px;
    left: 50%;
    margin-left: 77px;
    border-width: 0px 0px 2px;
}

#pbuttonu711941:hover #buttonu711941 {
    width: 92px;
    height: 37px;
    border-style: solid;
    border-color: #C80000;
    position: fixed;
    top: 25px;
    left: 50%;
    margin-left: 77px;
    min-height: 0px;
    border-width: 0px 0px 3px;
}

#u711942-4 {
    z-index: 198;
    width: 92px;
    min-height: 23px;
    background-color: transparent;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #F0F0F0;
    text-align: center;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
}

#pbuttonu711941:hover #u711942-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
    margin-right: -10000px;
    min-height: 23px;
    width: 92px;
}

#pbuttonu711941:hover #u711942-4 p {
    color: #FFFFFF;
    visibility: inherit;
}

#pbuttonu711945.ButtonSelected #u711946-4 p,
#pbuttonu711939.ButtonSelected #u711940-4 p,
#pbuttonu711937.ButtonSelected #u711938-4 p,
#pbuttonu711941.ButtonSelected #u711942-4 p {
    color: #F0F0F0;
    visibility: inherit;
}

#pbuttonu711943 {
    z-index: 204;
    width: 0.01px;
    height: 0px;
    padding-bottom: 40px;
    margin-bottom: -2px;
    margin-right: -10000px;
    margin-top: 3px;
}

#buttonu711943 {
    z-index: 204;
    width: 92px;
    height: 37px;
    border-style: solid;
    border-color: #A41111;
    background-color: transparent;
    position: fixed;
    top: 25px;
    left: 50%;
    margin-left: -112px;
    border-width: 0px 0px 2px;
}

#pbuttonu711943:hover #buttonu711943 {
    width: 92px;
    height: 37px;
    border-style: solid;
    border-color: #C80000;
    position: fixed;
    top: 25px;
    left: 50%;
    margin-left: -112px;
    min-height: 0px;
    border-width: 0px 0px 3px;
}

#u711944-4 {
    z-index: 205;
    width: 92px;
    min-height: 23px;
    background-color: transparent;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #F0F0F0;
    text-align: center;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
}

#pbuttonu711943:hover #u711944-4 p {
    color: #FFFFFF;
    visibility: inherit;
}

.js #u396623.ose_pre_init,
.js #buttonu711945.ose_pre_init,
.js #buttonu711939.ose_pre_init,
.js #buttonu711937.ose_pre_init,
.js #buttonu711941.ose_pre_init,
.js #buttonu711943.ose_pre_init {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
}

#pbuttonu711949 {
    z-index: 225;
    width: 0.01px;
    margin-bottom: -3px;
    margin-right: -10000px;
    margin-top: 4px;
}

#buttonu711949 {
    z-index: 225;
    width: 92px;
    height: 37px;
    border-style: solid;
    border-color: #A41111;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    border-width: 0px 0px 2px;
}

#u711950-4 {
    z-index: 226;
    width: 92px;
    min-height: 23px;
    background-color: transparent;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #393B37;
    text-align: center;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
}

#pbuttonu711943:hover #u711944-4,
#pbuttonu711949:hover #u711950-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
    margin-right: -10000px;
    min-height: 23px;
    width: 92px;
}

#pbuttonu711951 {
    z-index: 232;
    width: 0.01px;
    margin: 4px -10000px -3px 189px;
}

#buttonu711951 {
    z-index: 232;
    width: 92px;
    height: 37px;
    border-style: solid;
    border-color: #A41111;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    border-width: 0px 0px 2px;
}

#u711952-4 {
    z-index: 233;
    width: 92px;
    min-height: 23px;
    background-color: transparent;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #393B37;
    text-align: center;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
}

#pbuttonu711951:hover #u711952-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
    margin-right: -10000px;
    min-height: 23px;
    width: 92px;
}

#pbuttonu711955 {
    z-index: 246;
    width: 0.01px;
    margin: 4px -10000px -3px 378px;
}

#buttonu711955 {
    z-index: 246;
    width: 92px;
    height: 37px;
    border-style: solid;
    border-color: #A41111;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    border-width: 0px 0px 2px;
}

#pbuttonu711953:hover #buttonu711953,
#pbuttonu711949:hover #buttonu711949,
#pbuttonu711951:hover #buttonu711951,
#pbuttonu711955:hover #buttonu711955 {
    width: 92px;
    height: 37px;
    border-style: solid;
    border-color: #C80000;
    position: relative;
    margin-right: -10000px;
    margin-top: 0px;
    left: 0px;
    margin-left: 0px;
    min-height: 0px;
    border-width: 0px 0px 3px;
}

#u711956-4 {
    z-index: 247;
    width: 92px;
    min-height: 23px;
    background-color: transparent;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #393B37;
    text-align: center;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
}

#pbuttonu711955:hover #u711956-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
    margin-right: -10000px;
    min-height: 23px;
    width: 92px;
}

#pbuttonu711945.ButtonSelected #u711946-4,
#pbuttonu711947.ButtonSelected #u711948-4,
#pbuttonu711939.ButtonSelected #u711940-4,
#pbuttonu711953.ButtonSelected #u711954-4,
#pbuttonu711937.ButtonSelected #u711938-4,
#pbuttonu711941.ButtonSelected #u711942-4,
#pbuttonu711949.ButtonSelected #u711950-4,
#pbuttonu711951.ButtonSelected #u711952-4,
#pbuttonu711955.ButtonSelected #u711956-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 23px;
    width: 92px;
}

#pbuttonu711939 #u711940-4,
#pbuttonu711953 #u711954-4,
#pbuttonu711937 #u711938-4,
#pbuttonu711941 #u711942-4,
#pbuttonu711943 #u711944-4,
#pbuttonu711949 #u711950-4,
#pbuttonu711951 #u711952-4,
#pbuttonu711955 #u711956-4 {
    position: relative;
    margin-right: -10000px;
}

.js #u396525.ose_pre_init,
.js #buttonu711947.ose_pre_init,
.js #buttonu711953.ose_pre_init,
.js #buttonu711949.ose_pre_init,
.js #buttonu711951.ose_pre_init,
.js #buttonu711955.ose_pre_init {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
}

#u396629-bw {
    margin-top: 10px;
}

#u395817-4-bw {
    margin-top: 8px;
}

#u425271 {
    width: 800px;
    height: 498px;
    margin-left: 220px;
    margin-top: 8px;
}

#u395710-4 {
    width: 266px;
    margin-left: 487px;
    margin-top: 27px;
}

.Btn-Wejdz-do-galerii {
    background-color: #D79898;
    background-color: rgba(164, 17, 17, 0.43);
}

.css_verticalspacer .verticalspacer {
    height: calc(100vh - 1030px);
}

#pu425272 {
    margin-top: 14px;
    margin-left: -25px;
}

#u425272 {
    min-height: 286px;
    padding-bottom: 10px;
}

#u425272_align_to_page {
    width: 1200px;
    left: -25px;
}

#u425257 {
    width: 155px;
    margin-right: -10000px;
    margin-top: 88px;
    left: 59px;
}

#u425262 {
    width: 48px;
}

#u425265 {
    width: 48px;
    padding-bottom: 7px;
}

#u425263 {
    width: 12px;
    margin-top: 7px;
    left: 18px;
}

#u425264 {
    margin-bottom: 1px;
}

#u425258 {
    width: 48px;
    left: 53px;
}

#u425261 {
    width: 48px;
    padding-bottom: 9px;
}

#u425259 {
    width: 28px;
    margin-top: 9px;
    left: 10px;
}

#u425266 {
    width: 48px;
    left: 107px;
}

#u425269 {
    width: 48px;
    padding-bottom: 11px;
}

#u425265:hover,
#u425261:hover,
#u425269:hover {
    margin-left: 0px;
    width: 48px;
}

#u425267 {
    width: 18px;
    margin-top: 11px;
    left: 15px;
}

#u425260,
#u425268 {
    margin-bottom: 2px;
}

#u425246 {
    width: 417px;
    margin-right: -10000px;
    margin-top: 215px;
    left: 59px;
}

#u425253 {
    width: 44px;
    margin-top: 1px;
}

#u425255 {
    width: 102px;
    margin-top: 1px;
    left: 60px;
}

#u425251 {
    width: 29px;
    margin-top: 1px;
    left: 173px;
}

#u425247 {
    width: 120px;
    margin-top: 1px;
    left: 223px;
}

#u425249 {
    width: 63px;
    left: 354px;
}

#u395717 {
    width: 107px;
    margin-right: -10000px;
    margin-top: 16px;
    left: 62px;
}

#u427489 {
    width: 205px;
    margin-right: -10000px;
    margin-top: 153px;
    left: 58px;
}

#u427493-4 {
    width: 29px;
    min-height: 21px;
    font-size: 18px;
    line-height: 22px;
}

#u427492-4 {
    width: 29px;
    min-height: 21px;
    font-size: 18px;
    line-height: 22px;
    left: 52px;
}

#u427491-4 {
    width: 29px;
    min-height: 21px;
    font-size: 18px;
    line-height: 22px;
    left: 105px;
}

#u427490-4 {
    width: 29px;
    min-height: 21px;
    font-size: 18px;
    line-height: 22px;
    left: 156px;
}

#u427493-4:hover,
#u427492-4.MuseLinkActive,
#u427491-4:hover,
#u427490-4:hover {
    margin-left: 0px;
    min-height: 21px;
    width: 29px;
}

#u626869-4 {
    width: 360px;
    min-height: 24px;
    margin-right: -10000px;
    margin-top: 262px;
    left: 474px;
}

#u626870-15 {
    width: 343px;
    min-height: 174px;
    margin-right: -10000px;
    margin-top: 22px;
    left: 884px;
}

#u626870-2,
#u626870-4 {
    line-height: 24px;
}

#u626871 {
    width: 367px;
    margin-right: -10000px;
    margin-top: 22px;
    left: 528px;
}

#pu626872-4 {
    width: 0.01px;
    margin-top: 1px;
}

#u626872-4 {
    width: 97px;
    margin-left: 20px;
}

#menuu626911 {
    width: 137px;
    margin-top: 5px;
}

#u626934 {
    width: 137px;
    min-height: 19px;
    padding-bottom: 8px;
}

#u626935-4 {
    width: 137px;
    min-height: 19px;
    font-size: 16px;
    line-height: 19px;
    top: 4px;
}

#u626934:hover,
#u626934:hover #u626935-4 {
    width: 137px;
    min-height: 19px;
}

#u626929 {
    width: 137px;
    min-height: 19px;
    padding-bottom: 8px;
}

#u626931-4 {
    width: 137px;
    min-height: 19px;
    font-size: 16px;
    line-height: 19px;
    top: 4px;
}

#u626934.MuseMenuActive #u626935-4,
#u626929:hover,
#u626929:hover #u626931-4 {
    min-height: 19px;
    width: 137px;
}

#u626951-4 {
    width: 137px;
    min-height: 19px;
    font-size: 16px;
    line-height: 19px;
    top: 4px;
}

#u626929.MuseMenuActive #u626931-4,
#u626948:hover #u626951-4 {
    min-height: 19px;
    width: 137px;
}

#u626959-4 {
    width: 137px;
    min-height: 19px;
    font-size: 16px;
    line-height: 19px;
    top: 4px;
}

#u626948.MuseMenuActive #u626951-4,
#u626957:hover #u626959-4 {
    min-height: 19px;
    width: 137px;
}

#u626923-4 {
    width: 137px;
    min-height: 19px;
    font-size: 16px;
    line-height: 19px;
    top: 4px;
}

#u626957.MuseMenuActive #u626959-4,
#u626922:hover #u626923-4 {
    min-height: 19px;
    width: 137px;
}

#u626948,
#u626957,
#u626922,
#u626941 {
    width: 137px;
    min-height: 19px;
    padding-bottom: 8px;
}

#u626944-4 {
    width: 137px;
    min-height: 19px;
    font-size: 16px;
    line-height: 19px;
    top: 4px;
}

#u626922.MuseMenuActive #u626923-4,
#u626941:hover #u626944-4 {
    min-height: 19px;
    width: 137px;
}

#u626933,
#u626926,
#u626947,
#u626954,
#u626919,
#u626940,
#u626912 {
    width: 137px;
}

#u626915 {
    width: 137px;
    min-height: 19px;
    padding-bottom: 9px;
}

#u626918-4 {
    width: 137px;
    min-height: 19px;
    font-size: 16px;
    line-height: 19px;
    top: 4px;
}

#u626941.MuseMenuActive #u626944-4,
#u626915:hover #u626918-4 {
    min-height: 19px;
    width: 137px;
}

#u626915.MuseMenuActive #u626918-4 {
    min-height: 19px;
    width: 137px;
}

#u626873 {
    width: 185px;
    padding-bottom: 0px;
    left: 182px;
}

#u626910-4 {
    width: 97px;
    min-height: 21px;
    margin-left: 44px;
}

#menuu626874 {
    width: 185px;
    height: 106px;
    margin-top: 6px;
}

#u626897 {
    width: 185px;
    min-height: 19px;
    padding-bottom: 2px;
}

#u626899-4 {
    width: 185px;
    min-height: 19px;
    font-size: 16px;
    line-height: 19px;
    top: 1px;
}

#u626897:hover #u626899-4 {
    margin-bottom: 0px;
    min-height: 19px;
    width: 185px;
}

#u626892 {
    width: 185px;
    min-height: 19px;
    padding-bottom: 2px;
}

#u626894-4 {
    width: 185px;
    min-height: 19px;
    font-size: 16px;
    line-height: 19px;
    top: 1px;
}

#u626897.MuseMenuActive #u626899-4,
#u626892:hover #u626894-4 {
    margin-bottom: 0px;
    min-height: 19px;
    width: 185px;
}

#u626878 {
    width: 185px;
    min-height: 19px;
    padding-bottom: 2px;
}

#u626881-4 {
    width: 185px;
    min-height: 19px;
    font-size: 16px;
    line-height: 19px;
    top: 1px;
}

#u626892.MuseMenuActive #u626894-4,
#u626878:hover #u626881-4 {
    margin-bottom: 0px;
    min-height: 19px;
    width: 185px;
}

#u626885 {
    width: 185px;
    min-height: 19px;
    padding-bottom: 2px;
}

#u626886-4 {
    width: 185px;
    min-height: 19px;
    font-size: 16px;
    line-height: 19px;
    top: 1px;
}

#u626897:hover,
#u626892:hover,
#u626878:hover,
#u626885:hover,
#u626885:hover #u626886-4 {
    width: 185px;
    min-height: 19px;
}

#u626896,
#u626889,
#u626875,
#u626882,
#u626903 {
    width: 185px;
}

#u626906 {
    width: 185px;
    min-height: 19px;
    padding-bottom: 3px;
}

#u626885.MuseMenuActive #u626886-4,
#u626906:hover {
    min-height: 19px;
    width: 185px;
}

#u626909-4 {
    width: 185px;
    min-height: 19px;
    font-size: 16px;
    line-height: 19px;
    top: 1px;
}

#u626878.MuseMenuActive #u626881-4,
#u626906:hover #u626909-4 {
    margin-bottom: 0px;
    min-height: 19px;
    width: 185px;
}

#u626906.MuseMenuActive #u626909-4 {
    margin-bottom: 0px;
    min-height: 19px;
    width: 185px;
}

#u425272-bw {
    min-height: 286px;
}

#u425270-bw {
    margin-top: 11px;
}

body {
    min-width: 1200px;
}

.verticalspacer {
    min-height: 19px;
}