#muse_css_mq {
    background-color: #FFFFFF;
}

#bp_infinity.active {
    display: block;
}

#page {
    width: 1200px;
    min-height: 1049px;
}

#pu389011 {
    z-index: 160;
    width: 0.01px;
    height: 0px;
    padding-bottom: 74px;
    margin-right: -10000px;
    margin-top: -1px;
}

#u389011 {
    z-index: 160;
    height: 74px;
    position: fixed;
    top: -1px;
}

#u389011-bw {
    z-index: 160;
}

#u390266 {
    z-index: 161;
    width: 96px;
    position: fixed;
    top: 28px;
    left: 50%;
    margin-left: -546px;
}

#u390267 {
    z-index: 162;
}

#u390172 {
    z-index: 163;
    width: 96px;
    position: fixed;
    top: 27px;
    left: 50%;
    margin-left: -547px;
}

#u390173 {
    z-index: 164;
}

#u461167 {
    z-index: 165;
    width: 205px;
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    padding-bottom: 47px;
    position: fixed;
    top: 20px;
    left: 50%;
    margin-left: 395px;
}

#u461168-4 {
    z-index: 166;
    width: 29px;
    min-height: 21px;
    -webkit-transition-duration: 1s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 1s;
    transition-delay: 0s;
    transition-timing-function: ease;
    background-image: url("../images/blank.gif?crc=4208392903");
    background-color: #A41111;
    color: #F0F0F0;
    font-size: 18px;
    text-align: center;
    line-height: 22px;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
    position: fixed;
    top: 20px;
    left: 50%;
    margin-left: 395px;
    padding: 15px 10px 10px;
}

#u461168-4:hover {
    background-color: #C80000;
    padding-top: 15px;
    padding-bottom: 10px;
    min-height: 21px;
    width: 29px;
    margin: 0px 0px 0px 395px;
}

#u461169-4 {
    z-index: 170;
    width: 29px;
    min-height: 21px;
    -webkit-transition-duration: 1s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 1s;
    transition-delay: 0s;
    transition-timing-function: ease;
    background-image: url("../images/blank.gif?crc=4208392903");
    background-color: #A41111;
    color: #F0F0F0;
    font-size: 18px;
    text-align: center;
    line-height: 22px;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
    position: fixed;
    top: 20px;
    left: 50%;
    margin-left: 448px;
    padding: 15px 10px 10px;
}

#u461169-4.MuseLinkActive {
    background-color: #C80000;
    padding-top: 15px;
    padding-bottom: 10px;
    min-height: 21px;
    width: 29px;
    margin: 0px 0px 0px 448px;
}

#u461170-4 {
    z-index: 174;
    width: 29px;
    min-height: 21px;
    -webkit-transition-duration: 1s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 1s;
    transition-delay: 0s;
    transition-timing-function: ease;
    background-image: url("../images/blank.gif?crc=4208392903");
    background-color: #A41111;
    color: #F0F0F0;
    font-size: 18px;
    text-align: center;
    line-height: 22px;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
    position: fixed;
    top: 20px;
    left: 50%;
    margin-left: 500px;
    padding: 15px 10px 10px;
}

#u461170-4:hover {
    background-color: #C80000;
    padding-top: 15px;
    padding-bottom: 10px;
    min-height: 21px;
    width: 29px;
    margin: 0px 0px 0px 500px;
}

#u461171-4 {
    z-index: 178;
    width: 29px;
    min-height: 21px;
    -webkit-transition-duration: 1s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 1s;
    transition-delay: 0s;
    transition-timing-function: ease;
    background-image: url("../images/blank.gif?crc=4208392903");
    background-color: #A41111;
    color: #F0F0F0;
    font-size: 18px;
    text-align: center;
    line-height: 22px;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
    position: fixed;
    top: 20px;
    left: 50%;
    margin-left: 551px;
    padding: 15px 10px 10px;
}

#u461171-4:hover {
    background-color: #C80000;
    padding-top: 15px;
    padding-bottom: 10px;
    min-height: 21px;
    width: 29px;
    margin: 0px 0px 0px 551px;
}

#ppppbuttonu711782 {
    z-index: 0;
    width: 0.01px;
    height: 697.85px;
    padding-bottom: 0px;
    margin-right: -10000px;
    margin-top: 22px;
    margin-left: -25px;
}

#pppbuttonu711782 {
    z-index: 0;
    width: 0.01px;
    height: 41px;
    margin-left: 513px;
}

#ppbuttonu711782 {
    z-index: 210;
    width: 0.01px;
    height: 41px;
    margin-right: -10000px;
    margin-left: 94px;
}

#pbuttonu711782 {
    z-index: 211;
    width: 0.01px;
    height: 0px;
    padding-bottom: 43px;
    margin-bottom: -2px;
    margin-right: -10000px;
}

#buttonu711782 {
    z-index: 211;
    width: 93px;
    height: 40px;
    border-style: solid;
    border-color: #A41111;
    background-color: transparent;
    position: fixed;
    top: 22px;
    left: 50%;
    margin-left: -18px;
    border-width: 0px 0px 2px;
}

#pbuttonu711782:hover #buttonu711782 {
    width: 93px;
    height: 40px;
    border-style: solid;
    border-color: #C80000;
    position: fixed;
    top: 22px;
    left: 50%;
    margin-left: -18px;
    min-height: 0px;
    border-width: 0px 0px 3px;
}

#u711783-4 {
    z-index: 212;
    width: 92px;
    min-height: 23px;
    background-color: transparent;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #F0F0F0;
    text-align: center;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
}

#pbuttonu711782:hover #u711783-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
    margin-right: -10000px;
    margin-top: 3px;
    left: 1px;
    min-height: 23px;
    width: 92px;
}

#pbuttonu711782:hover #u711783-4 p {
    color: #FFFFFF;
    visibility: inherit;
}

#pbuttonu711782 #u711783-4 {
    position: relative;
    margin-right: -10000px;
    margin-top: 3px;
    left: 1px;
}

#pbuttonu711784 {
    z-index: 218;
    width: 0.01px;
    margin-bottom: -3px;
    margin-right: -10000px;
    margin-top: 4px;
}

#buttonu711784 {
    z-index: 218;
    width: 93px;
    height: 37px;
    border-style: solid;
    border-color: #A41111;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    border-width: 0px 0px 2px;
}

#pbuttonu711784:hover #buttonu711784 {
    width: 93px;
    height: 37px;
    border-style: solid;
    border-color: #C80000;
    position: relative;
    margin-right: -10000px;
    margin-top: 0px;
    left: 0px;
    margin-left: 0px;
    min-height: 0px;
    border-width: 0px 0px 3px;
}

#u711785-4 {
    z-index: 219;
    width: 92px;
    min-height: 23px;
    background-color: transparent;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #393B37;
    text-align: center;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
}

#pbuttonu711784:hover #u711785-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
    margin-right: -10000px;
    left: 1px;
    min-height: 23px;
    width: 92px;
}

#pbuttonu711784 #u711785-4 {
    position: relative;
    margin-right: -10000px;
    left: 1px;
}

#ppbuttonu711776 {
    z-index: 189;
    width: 0.01px;
    height: 38px;
    margin-right: -10000px;
    margin-top: 3px;
    margin-left: 283px;
}

#pbuttonu711776 {
    z-index: 190;
    width: 0.01px;
    height: 0px;
    padding-bottom: 40px;
    margin-bottom: -2px;
    margin-right: -10000px;
}

#buttonu711776 {
    z-index: 190;
    width: 92px;
    height: 37px;
    border-style: solid;
    border-color: #A41111;
    background-color: transparent;
    position: fixed;
    top: 25px;
    left: 50%;
    margin-left: 171px;
    border-width: 0px 0px 2px;
}

#pbuttonu711776:hover #buttonu711776 {
    width: 92px;
    height: 37px;
    border-style: solid;
    border-color: #C80000;
    position: fixed;
    top: 25px;
    left: 50%;
    margin-left: 171px;
    min-height: 0px;
    border-width: 0px 0px 3px;
}

#u711777-4 {
    z-index: 191;
    width: 92px;
    min-height: 23px;
    background-color: transparent;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #F0F0F0;
    text-align: center;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
}

#pbuttonu711776:hover #u711777-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
    margin-right: -10000px;
    min-height: 23px;
    width: 92px;
}

#pbuttonu711776:hover #u711777-4 p {
    color: #FFFFFF;
    visibility: inherit;
}

#pbuttonu711790 {
    z-index: 239;
    width: 0.01px;
    margin-bottom: -3px;
    margin-right: -10000px;
    margin-top: 1px;
}

#buttonu711790 {
    z-index: 239;
    width: 92px;
    height: 37px;
    border-style: solid;
    border-color: #A41111;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    border-width: 0px 0px 2px;
}

#u711791-4 {
    z-index: 240;
    width: 92px;
    min-height: 23px;
    background-color: transparent;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #393B37;
    text-align: center;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
}

#pbuttonu711790:hover #u711791-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
    margin-right: -10000px;
    min-height: 23px;
    width: 92px;
}

#pbuttonu711774 {
    z-index: 183;
    width: 0.01px;
    height: 0px;
    padding-bottom: 40px;
    margin: 3px -10000px -2px 377px;
}

#buttonu711774 {
    z-index: 183;
    width: 92px;
    height: 37px;
    border-style: solid;
    border-color: #A41111;
    background-color: transparent;
    position: fixed;
    top: 25px;
    left: 50%;
    margin-left: 265px;
    border-width: 0px 0px 2px;
}

#pbuttonu711774:hover #buttonu711774 {
    width: 92px;
    height: 37px;
    border-style: solid;
    border-color: #C80000;
    position: fixed;
    top: 25px;
    left: 50%;
    margin-left: 265px;
    min-height: 0px;
    border-width: 0px 0px 3px;
}

#u711775-4 {
    z-index: 184;
    width: 92px;
    min-height: 23px;
    background-color: transparent;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #F0F0F0;
    text-align: center;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
}

#pbuttonu711774:hover #u711775-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
    margin-right: -10000px;
    min-height: 23px;
    width: 92px;
}

#pbuttonu711774:hover #u711775-4 p {
    color: #FFFFFF;
    visibility: inherit;
}

#pbuttonu711778 {
    z-index: 197;
    width: 0.01px;
    height: 0px;
    padding-bottom: 40px;
    margin: 3px -10000px -2px 189px;
}

#buttonu711778 {
    z-index: 197;
    width: 92px;
    height: 37px;
    border-style: solid;
    border-color: #A41111;
    background-color: transparent;
    position: fixed;
    top: 25px;
    left: 50%;
    margin-left: 77px;
    border-width: 0px 0px 2px;
}

#pbuttonu711778:hover #buttonu711778 {
    width: 92px;
    height: 37px;
    border-style: solid;
    border-color: #C80000;
    position: fixed;
    top: 25px;
    left: 50%;
    margin-left: 77px;
    min-height: 0px;
    border-width: 0px 0px 3px;
}

#u711779-4 {
    z-index: 198;
    width: 92px;
    min-height: 23px;
    background-color: transparent;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #F0F0F0;
    text-align: center;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
}

#pbuttonu711778:hover #u711779-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
    margin-right: -10000px;
    min-height: 23px;
    width: 92px;
}

#pbuttonu711778:hover #u711779-4 p {
    color: #FFFFFF;
    visibility: inherit;
}

#pbuttonu711782.ButtonSelected #u711783-4 p,
#pbuttonu711776.ButtonSelected #u711777-4 p,
#pbuttonu711774.ButtonSelected #u711775-4 p,
#pbuttonu711778.ButtonSelected #u711779-4 p {
    color: #F0F0F0;
    visibility: inherit;
}

#pbuttonu711780 {
    z-index: 204;
    width: 0.01px;
    height: 0px;
    padding-bottom: 40px;
    margin-bottom: -2px;
    margin-right: -10000px;
    margin-top: 3px;
}

#buttonu711780 {
    z-index: 204;
    width: 92px;
    height: 37px;
    border-style: solid;
    border-color: #A41111;
    background-color: transparent;
    position: fixed;
    top: 25px;
    left: 50%;
    margin-left: -112px;
    border-width: 0px 0px 2px;
}

#pbuttonu711780:hover #buttonu711780 {
    width: 92px;
    height: 37px;
    border-style: solid;
    border-color: #C80000;
    position: fixed;
    top: 25px;
    left: 50%;
    margin-left: -112px;
    min-height: 0px;
    border-width: 0px 0px 3px;
}

#u711781-4 {
    z-index: 205;
    width: 92px;
    min-height: 23px;
    background-color: transparent;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #F0F0F0;
    text-align: center;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
}

#pbuttonu711780:hover #u711781-4 p {
    color: #FFFFFF;
    visibility: inherit;
}

.js #u390266.ose_pre_init,
.js #buttonu711782.ose_pre_init,
.js #buttonu711776.ose_pre_init,
.js #buttonu711774.ose_pre_init,
.js #buttonu711778.ose_pre_init,
.js #buttonu711780.ose_pre_init {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
}

#pbuttonu711786 {
    z-index: 225;
    width: 0.01px;
    margin-bottom: -3px;
    margin-right: -10000px;
    margin-top: 4px;
}

#buttonu711786 {
    z-index: 225;
    width: 92px;
    height: 37px;
    border-style: solid;
    border-color: #A41111;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    border-width: 0px 0px 2px;
}

#u711787-4 {
    z-index: 226;
    width: 92px;
    min-height: 23px;
    background-color: transparent;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #393B37;
    text-align: center;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
}

#pbuttonu711780:hover #u711781-4,
#pbuttonu711786:hover #u711787-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
    margin-right: -10000px;
    min-height: 23px;
    width: 92px;
}

#pbuttonu711788 {
    z-index: 232;
    width: 0.01px;
    margin: 4px -10000px -3px 189px;
}

#buttonu711788 {
    z-index: 232;
    width: 92px;
    height: 37px;
    border-style: solid;
    border-color: #A41111;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    border-width: 0px 0px 2px;
}

#u711789-4 {
    z-index: 233;
    width: 92px;
    min-height: 23px;
    background-color: transparent;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #393B37;
    text-align: center;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
}

#pbuttonu711788:hover #u711789-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
    margin-right: -10000px;
    min-height: 23px;
    width: 92px;
}

#pbuttonu711792 {
    z-index: 246;
    width: 0.01px;
    margin: 4px -10000px -3px 378px;
}

#buttonu711792 {
    z-index: 246;
    width: 92px;
    height: 37px;
    border-style: solid;
    border-color: #A41111;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    border-width: 0px 0px 2px;
}

#pbuttonu711790:hover #buttonu711790,
#pbuttonu711786:hover #buttonu711786,
#pbuttonu711788:hover #buttonu711788,
#pbuttonu711792:hover #buttonu711792 {
    width: 92px;
    height: 37px;
    border-style: solid;
    border-color: #C80000;
    position: relative;
    margin-right: -10000px;
    margin-top: 0px;
    left: 0px;
    margin-left: 0px;
    min-height: 0px;
    border-width: 0px 0px 3px;
}

#u711793-4 {
    z-index: 247;
    width: 92px;
    min-height: 23px;
    background-color: transparent;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #393B37;
    text-align: center;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
}

#pbuttonu711792:hover #u711793-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
    margin-right: -10000px;
    min-height: 23px;
    width: 92px;
}

#pbuttonu711782.ButtonSelected #u711783-4,
#pbuttonu711784.ButtonSelected #u711785-4,
#pbuttonu711776.ButtonSelected #u711777-4,
#pbuttonu711790.ButtonSelected #u711791-4,
#pbuttonu711774.ButtonSelected #u711775-4,
#pbuttonu711778.ButtonSelected #u711779-4,
#pbuttonu711786.ButtonSelected #u711787-4,
#pbuttonu711788.ButtonSelected #u711789-4,
#pbuttonu711792.ButtonSelected #u711793-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 23px;
    width: 92px;
}

#pbuttonu711776 #u711777-4,
#pbuttonu711790 #u711791-4,
#pbuttonu711774 #u711775-4,
#pbuttonu711778 #u711779-4,
#pbuttonu711780 #u711781-4,
#pbuttonu711786 #u711787-4,
#pbuttonu711788 #u711789-4,
#pbuttonu711792 #u711793-4 {
    position: relative;
    margin-right: -10000px;
}

.js #u390172.ose_pre_init,
.js #buttonu711784.ose_pre_init,
.js #buttonu711790.ose_pre_init,
.js #buttonu711786.ose_pre_init,
.js #buttonu711788.ose_pre_init,
.js #buttonu711792.ose_pre_init {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
}

#u390282-bw {
    margin-top: 10px;
}

#u394463-4-bw {
    margin-top: 8px;
}

#u393383 {
    width: 800px;
    height: 498px;
    margin-left: 220px;
    margin-top: 8px;
}

#u394464-4 {
    width: 266px;
    margin-left: 487px;
    margin-top: 27px;
}

.Btn-Wejdz-do-galerii {
    background-color: #D79898;
    background-color: rgba(164, 17, 17, 0.43);
}

.css_verticalspacer .verticalspacer {
    height: calc(100vh - 1030px);
}

#pu388837 {
    margin-top: 14px;
    margin-left: -25px;
}

#u388837 {
    min-height: 286px;
    padding-bottom: 10px;
}

#u388837_align_to_page {
    width: 1200px;
    left: -25px;
}

#u388812 {
    width: 155px;
    margin-right: -10000px;
    margin-top: 88px;
    left: 59px;
}

#u388821 {
    width: 48px;
}

#u388822 {
    width: 48px;
    padding-bottom: 7px;
}

#u388823 {
    width: 12px;
    margin-top: 7px;
    left: 18px;
}

#u388824 {
    margin-bottom: 1px;
}

#u388817 {
    width: 48px;
    left: 53px;
}

#u388818 {
    width: 48px;
    padding-bottom: 9px;
}

#u388819 {
    width: 28px;
    margin-top: 9px;
    left: 10px;
}

#u388813 {
    width: 48px;
    left: 107px;
}

#u388814 {
    width: 48px;
    padding-bottom: 11px;
}

#u388822:hover,
#u388818:hover,
#u388814:hover {
    margin-left: 0px;
    width: 48px;
}

#u388815 {
    width: 18px;
    margin-top: 11px;
    left: 15px;
}

#u388820,
#u388816 {
    margin-bottom: 2px;
}

#u388825 {
    width: 417px;
    margin-right: -10000px;
    margin-top: 215px;
    left: 59px;
}

#u388830 {
    width: 44px;
    margin-top: 1px;
}

#u388828 {
    width: 102px;
    margin-top: 1px;
    left: 60px;
}

#u388832 {
    width: 29px;
    margin-top: 1px;
    left: 173px;
}

#u388834 {
    width: 120px;
    margin-top: 1px;
    left: 223px;
}

#u388826 {
    width: 63px;
    left: 354px;
}

#u390424 {
    width: 107px;
    margin-right: -10000px;
    margin-top: 16px;
    left: 62px;
}

#u390303 {
    width: 205px;
    margin-right: -10000px;
    margin-top: 149px;
    left: 58px;
}

#u390307-4 {
    width: 29px;
    min-height: 21px;
    font-size: 18px;
    line-height: 22px;
}

#u390306-4 {
    width: 29px;
    min-height: 21px;
    font-size: 18px;
    line-height: 22px;
    left: 52px;
}

#u390305-4 {
    width: 29px;
    min-height: 21px;
    font-size: 18px;
    line-height: 22px;
    left: 105px;
}

#u390304-4 {
    width: 29px;
    min-height: 21px;
    font-size: 18px;
    line-height: 22px;
    left: 156px;
}

#u390307-4:hover,
#u390306-4.MuseLinkActive,
#u390305-4:hover,
#u390304-4:hover {
    margin-left: 0px;
    min-height: 21px;
    width: 29px;
}

#u625484-4 {
    width: 360px;
    min-height: 24px;
    margin-right: -10000px;
    margin-top: 262px;
    left: 474px;
}

#u625485-15 {
    width: 343px;
    min-height: 174px;
    margin-right: -10000px;
    margin-top: 22px;
    left: 884px;
}

#u625485-2,
#u625485-4 {
    line-height: 24px;
}

#u625486 {
    width: 367px;
    margin-right: -10000px;
    margin-top: 22px;
    left: 528px;
}

#pu625487-4 {
    width: 0.01px;
    margin-top: 1px;
}

#u625487-4 {
    width: 97px;
    margin-left: 20px;
}

#menuu625526 {
    width: 137px;
    margin-top: 5px;
}

#u625535 {
    width: 137px;
    min-height: 19px;
    padding-bottom: 8px;
}

#u625536-4 {
    width: 137px;
    min-height: 19px;
    font-size: 16px;
    line-height: 19px;
    top: 4px;
}

#u625535:hover,
#u625535:hover #u625536-4 {
    width: 137px;
    min-height: 19px;
}

#u625542 {
    width: 137px;
    min-height: 19px;
    padding-bottom: 8px;
}

#u625544-4 {
    width: 137px;
    min-height: 19px;
    font-size: 16px;
    line-height: 19px;
    top: 4px;
}

#u625535.MuseMenuActive #u625536-4,
#u625542:hover,
#u625542:hover #u625544-4 {
    min-height: 19px;
    width: 137px;
}

#u625531-4 {
    width: 137px;
    min-height: 19px;
    font-size: 16px;
    line-height: 19px;
    top: 4px;
}

#u625542.MuseMenuActive #u625544-4,
#u625528:hover #u625531-4 {
    min-height: 19px;
    width: 137px;
}

#u625558-4 {
    width: 137px;
    min-height: 19px;
    font-size: 16px;
    line-height: 19px;
    top: 4px;
}

#u625528.MuseMenuActive #u625531-4,
#u625556:hover #u625558-4 {
    min-height: 19px;
    width: 137px;
}

#u625566-4 {
    width: 137px;
    min-height: 19px;
    font-size: 16px;
    line-height: 19px;
    top: 4px;
}

#u625556.MuseMenuActive #u625558-4,
#u625563:hover #u625566-4 {
    min-height: 19px;
    width: 137px;
}

#u625528,
#u625556,
#u625563,
#u625570 {
    width: 137px;
    min-height: 19px;
    padding-bottom: 8px;
}

#u625573-4 {
    width: 137px;
    min-height: 19px;
    font-size: 16px;
    line-height: 19px;
    top: 4px;
}

#u625563.MuseMenuActive #u625566-4,
#u625570:hover #u625573-4 {
    min-height: 19px;
    width: 137px;
}

#u625534,
#u625541,
#u625527,
#u625555,
#u625562,
#u625569,
#u625548 {
    width: 137px;
}

#u625549 {
    width: 137px;
    min-height: 19px;
    padding-bottom: 9px;
}

#u625552-4 {
    width: 137px;
    min-height: 19px;
    font-size: 16px;
    line-height: 19px;
    top: 4px;
}

#u625570.MuseMenuActive #u625573-4,
#u625549:hover #u625552-4 {
    min-height: 19px;
    width: 137px;
}

#u625549.MuseMenuActive #u625552-4 {
    min-height: 19px;
    width: 137px;
}

#u625488 {
    width: 185px;
    padding-bottom: 0px;
    left: 182px;
}

#u625489-4 {
    width: 97px;
    min-height: 21px;
    margin-left: 44px;
}

#menuu625490 {
    width: 185px;
    height: 106px;
    margin-top: 6px;
}

#u625522 {
    width: 185px;
    min-height: 19px;
    padding-bottom: 2px;
}

#u625525-4 {
    width: 185px;
    min-height: 19px;
    font-size: 16px;
    line-height: 19px;
    top: 1px;
}

#u625522:hover #u625525-4 {
    margin-bottom: 0px;
    min-height: 19px;
    width: 185px;
}

#u625506 {
    width: 185px;
    min-height: 19px;
    padding-bottom: 2px;
}

#u625509-4 {
    width: 185px;
    min-height: 19px;
    font-size: 16px;
    line-height: 19px;
    top: 1px;
}

#u625522.MuseMenuActive #u625525-4,
#u625506:hover #u625509-4 {
    margin-bottom: 0px;
    min-height: 19px;
    width: 185px;
}

#u625492 {
    width: 185px;
    min-height: 19px;
    padding-bottom: 2px;
}

#u625494-4 {
    width: 185px;
    min-height: 19px;
    font-size: 16px;
    line-height: 19px;
    top: 1px;
}

#u625506.MuseMenuActive #u625509-4,
#u625492:hover #u625494-4 {
    margin-bottom: 0px;
    min-height: 19px;
    width: 185px;
}

#u625513 {
    width: 185px;
    min-height: 19px;
    padding-bottom: 2px;
}

#u625515-4 {
    width: 185px;
    min-height: 19px;
    font-size: 16px;
    line-height: 19px;
    top: 1px;
}

#u625522:hover,
#u625506:hover,
#u625492:hover,
#u625513:hover,
#u625513:hover #u625515-4 {
    width: 185px;
    min-height: 19px;
}

#u625519,
#u625505,
#u625491,
#u625512,
#u625498 {
    width: 185px;
}

#u625499 {
    width: 185px;
    min-height: 19px;
    padding-bottom: 3px;
}

#u625513.MuseMenuActive #u625515-4,
#u625499:hover {
    min-height: 19px;
    width: 185px;
}

#u625501-4 {
    width: 185px;
    min-height: 19px;
    font-size: 16px;
    line-height: 19px;
    top: 1px;
}

#u625492.MuseMenuActive #u625494-4,
#u625499:hover #u625501-4 {
    margin-bottom: 0px;
    min-height: 19px;
    width: 185px;
}

#u625499.MuseMenuActive #u625501-4 {
    margin-bottom: 0px;
    min-height: 19px;
    width: 185px;
}

#u388837-bw {
    min-height: 286px;
}

#u388806-bw {
    margin-top: 11px;
}

body {
    min-width: 1200px;
}

.verticalspacer {
    min-height: 19px;
}