#muse_css_mq {
    background-color: #FFFFFF;
}

#bp_infinity.active {
    display: block;
}

#page {
    width: 1200px;
    min-height: 1049px;
}

#pu425846 {
    z-index: 160;
    width: 0.01px;
    height: 0px;
    padding-bottom: 74px;
    margin-right: -10000px;
    margin-top: -1px;
}

#u425846 {
    z-index: 160;
    height: 74px;
    position: fixed;
    top: -1px;
}

#u425846-bw {
    z-index: 160;
}

#u410912 {
    z-index: 161;
    width: 96px;
    position: fixed;
    top: 28px;
    left: 50%;
    margin-left: -546px;
}

#u410913 {
    z-index: 162;
}

#u411006 {
    z-index: 163;
    width: 96px;
    position: fixed;
    top: 27px;
    left: 50%;
    margin-left: -547px;
}

#u411007 {
    z-index: 164;
}

#u461352 {
    z-index: 165;
    width: 205px;
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    padding-bottom: 47px;
    position: fixed;
    top: 20px;
    left: 50%;
    margin-left: 395px;
}

#u461354-4 {
    z-index: 166;
    width: 29px;
    min-height: 21px;
    -webkit-transition-duration: 1s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 1s;
    transition-delay: 0s;
    transition-timing-function: ease;
    background-image: url("../images/blank.gif?crc=4208392903");
    background-color: #A41111;
    color: #F0F0F0;
    font-size: 18px;
    text-align: center;
    line-height: 22px;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
    position: fixed;
    top: 20px;
    left: 50%;
    margin-left: 395px;
    padding: 15px 10px 10px;
}

#u461354-4:hover {
    background-color: #C80000;
    padding-top: 15px;
    padding-bottom: 10px;
    min-height: 21px;
    width: 29px;
    margin: 0px 0px 0px 395px;
}

#u461355-4 {
    z-index: 170;
    width: 29px;
    min-height: 21px;
    -webkit-transition-duration: 1s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 1s;
    transition-delay: 0s;
    transition-timing-function: ease;
    background-image: url("../images/blank.gif?crc=4208392903");
    background-color: #A41111;
    color: #F0F0F0;
    font-size: 18px;
    text-align: center;
    line-height: 22px;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
    position: fixed;
    top: 20px;
    left: 50%;
    margin-left: 448px;
    padding: 15px 10px 10px;
}

#u461355-4.MuseLinkActive {
    background-color: #C80000;
    padding-top: 15px;
    padding-bottom: 10px;
    min-height: 21px;
    width: 29px;
    margin: 0px 0px 0px 448px;
}

#u461356-4 {
    z-index: 174;
    width: 29px;
    min-height: 21px;
    -webkit-transition-duration: 1s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 1s;
    transition-delay: 0s;
    transition-timing-function: ease;
    background-image: url("../images/blank.gif?crc=4208392903");
    background-color: #A41111;
    color: #F0F0F0;
    font-size: 18px;
    text-align: center;
    line-height: 22px;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
    position: fixed;
    top: 20px;
    left: 50%;
    margin-left: 500px;
    padding: 15px 10px 10px;
}

#u461356-4:hover {
    background-color: #C80000;
    padding-top: 15px;
    padding-bottom: 10px;
    min-height: 21px;
    width: 29px;
    margin: 0px 0px 0px 500px;
}

#u461353-4 {
    z-index: 178;
    width: 29px;
    min-height: 21px;
    -webkit-transition-duration: 1s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 1s;
    transition-delay: 0s;
    transition-timing-function: ease;
    background-image: url("../images/blank.gif?crc=4208392903");
    background-color: #A41111;
    color: #F0F0F0;
    font-size: 18px;
    text-align: center;
    line-height: 22px;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
    position: fixed;
    top: 20px;
    left: 50%;
    margin-left: 551px;
    padding: 15px 10px 10px;
}

#u461353-4:hover {
    background-color: #C80000;
    padding-top: 15px;
    padding-bottom: 10px;
    min-height: 21px;
    width: 29px;
    margin: 0px 0px 0px 551px;
}

#ppppbuttonu712597 {
    z-index: 0;
    width: 0.01px;
    height: 697.85px;
    padding-bottom: 0px;
    margin-right: -10000px;
    margin-top: 22px;
    margin-left: -25px;
}

#pppbuttonu712597 {
    z-index: 0;
    width: 0.01px;
    height: 41px;
    margin-left: 513px;
}

#ppbuttonu712597 {
    z-index: 210;
    width: 0.01px;
    height: 41px;
    margin-right: -10000px;
    margin-left: 94px;
}

#pbuttonu712597 {
    z-index: 211;
    width: 0.01px;
    height: 0px;
    padding-bottom: 43px;
    margin-bottom: -2px;
    margin-right: -10000px;
}

#buttonu712597 {
    z-index: 211;
    width: 93px;
    height: 40px;
    border-style: solid;
    border-color: #A41111;
    background-color: transparent;
    position: fixed;
    top: 22px;
    left: 50%;
    margin-left: -18px;
    border-width: 0px 0px 2px;
}

#pbuttonu712597:hover #buttonu712597 {
    width: 93px;
    height: 40px;
    border-style: solid;
    border-color: #C80000;
    position: fixed;
    top: 22px;
    left: 50%;
    margin-left: -18px;
    min-height: 0px;
    border-width: 0px 0px 3px;
}

#u712598-4 {
    z-index: 212;
    width: 92px;
    min-height: 23px;
    background-color: transparent;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #F0F0F0;
    text-align: center;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
}

#pbuttonu712597:hover #u712598-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
    margin-right: -10000px;
    margin-top: 3px;
    left: 1px;
    min-height: 23px;
    width: 92px;
}

#pbuttonu712597:hover #u712598-4 p {
    color: #FFFFFF;
    visibility: inherit;
}

#pbuttonu712597 #u712598-4 {
    position: relative;
    margin-right: -10000px;
    margin-top: 3px;
    left: 1px;
}

#pbuttonu712599 {
    z-index: 218;
    width: 0.01px;
    margin-bottom: -3px;
    margin-right: -10000px;
    margin-top: 4px;
}

#buttonu712599 {
    z-index: 218;
    width: 93px;
    height: 37px;
    border-style: solid;
    border-color: #A41111;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    border-width: 0px 0px 2px;
}

#pbuttonu712599:hover #buttonu712599 {
    width: 93px;
    height: 37px;
    border-style: solid;
    border-color: #C80000;
    position: relative;
    margin-right: -10000px;
    margin-top: 0px;
    left: 0px;
    margin-left: 0px;
    min-height: 0px;
    border-width: 0px 0px 3px;
}

#u712600-4 {
    z-index: 219;
    width: 92px;
    min-height: 23px;
    background-color: transparent;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #393B37;
    text-align: center;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
}

#pbuttonu712599:hover #u712600-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
    margin-right: -10000px;
    left: 1px;
    min-height: 23px;
    width: 92px;
}

#pbuttonu712599 #u712600-4 {
    position: relative;
    margin-right: -10000px;
    left: 1px;
}

#ppbuttonu712591 {
    z-index: 189;
    width: 0.01px;
    height: 38px;
    margin-right: -10000px;
    margin-top: 3px;
    margin-left: 283px;
}

#pbuttonu712591 {
    z-index: 190;
    width: 0.01px;
    height: 0px;
    padding-bottom: 40px;
    margin-bottom: -2px;
    margin-right: -10000px;
}

#buttonu712591 {
    z-index: 190;
    width: 92px;
    height: 37px;
    border-style: solid;
    border-color: #A41111;
    background-color: transparent;
    position: fixed;
    top: 25px;
    left: 50%;
    margin-left: 171px;
    border-width: 0px 0px 2px;
}

#pbuttonu712591:hover #buttonu712591 {
    width: 92px;
    height: 37px;
    border-style: solid;
    border-color: #C80000;
    position: fixed;
    top: 25px;
    left: 50%;
    margin-left: 171px;
    min-height: 0px;
    border-width: 0px 0px 3px;
}

#u712592-4 {
    z-index: 191;
    width: 92px;
    min-height: 23px;
    background-color: transparent;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #F0F0F0;
    text-align: center;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
}

#pbuttonu712591:hover #u712592-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
    margin-right: -10000px;
    min-height: 23px;
    width: 92px;
}

#pbuttonu712591:hover #u712592-4 p {
    color: #FFFFFF;
    visibility: inherit;
}

#pbuttonu712605 {
    z-index: 239;
    width: 0.01px;
    margin-bottom: -3px;
    margin-right: -10000px;
    margin-top: 1px;
}

#buttonu712605 {
    z-index: 239;
    width: 92px;
    height: 37px;
    border-style: solid;
    border-color: #A41111;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    border-width: 0px 0px 2px;
}

#u712606-4 {
    z-index: 240;
    width: 92px;
    min-height: 23px;
    background-color: transparent;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #393B37;
    text-align: center;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
}

#pbuttonu712605:hover #u712606-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
    margin-right: -10000px;
    min-height: 23px;
    width: 92px;
}

#pbuttonu712589 {
    z-index: 183;
    width: 0.01px;
    height: 0px;
    padding-bottom: 40px;
    margin: 3px -10000px -2px 377px;
}

#buttonu712589 {
    z-index: 183;
    width: 92px;
    height: 37px;
    border-style: solid;
    border-color: #A41111;
    background-color: transparent;
    position: fixed;
    top: 25px;
    left: 50%;
    margin-left: 265px;
    border-width: 0px 0px 2px;
}

#pbuttonu712589:hover #buttonu712589 {
    width: 92px;
    height: 37px;
    border-style: solid;
    border-color: #C80000;
    position: fixed;
    top: 25px;
    left: 50%;
    margin-left: 265px;
    min-height: 0px;
    border-width: 0px 0px 3px;
}

#u712590-4 {
    z-index: 184;
    width: 92px;
    min-height: 23px;
    background-color: transparent;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #F0F0F0;
    text-align: center;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
}

#pbuttonu712589:hover #u712590-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
    margin-right: -10000px;
    min-height: 23px;
    width: 92px;
}

#pbuttonu712589:hover #u712590-4 p {
    color: #FFFFFF;
    visibility: inherit;
}

#pbuttonu712593 {
    z-index: 197;
    width: 0.01px;
    height: 0px;
    padding-bottom: 40px;
    margin: 3px -10000px -2px 189px;
}

#buttonu712593 {
    z-index: 197;
    width: 92px;
    height: 37px;
    border-style: solid;
    border-color: #A41111;
    background-color: transparent;
    position: fixed;
    top: 25px;
    left: 50%;
    margin-left: 77px;
    border-width: 0px 0px 2px;
}

#pbuttonu712593:hover #buttonu712593 {
    width: 92px;
    height: 37px;
    border-style: solid;
    border-color: #C80000;
    position: fixed;
    top: 25px;
    left: 50%;
    margin-left: 77px;
    min-height: 0px;
    border-width: 0px 0px 3px;
}

#u712594-4 {
    z-index: 198;
    width: 92px;
    min-height: 23px;
    background-color: transparent;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #F0F0F0;
    text-align: center;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
}

#pbuttonu712593:hover #u712594-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
    margin-right: -10000px;
    min-height: 23px;
    width: 92px;
}

#pbuttonu712593:hover #u712594-4 p {
    color: #FFFFFF;
    visibility: inherit;
}

#pbuttonu712597.ButtonSelected #u712598-4 p,
#pbuttonu712591.ButtonSelected #u712592-4 p,
#pbuttonu712589.ButtonSelected #u712590-4 p,
#pbuttonu712593.ButtonSelected #u712594-4 p {
    color: #F0F0F0;
    visibility: inherit;
}

#pbuttonu712595 {
    z-index: 204;
    width: 0.01px;
    height: 0px;
    padding-bottom: 40px;
    margin-bottom: -2px;
    margin-right: -10000px;
    margin-top: 3px;
}

#buttonu712595 {
    z-index: 204;
    width: 92px;
    height: 37px;
    border-style: solid;
    border-color: #A41111;
    background-color: transparent;
    position: fixed;
    top: 25px;
    left: 50%;
    margin-left: -112px;
    border-width: 0px 0px 2px;
}

#pbuttonu712595:hover #buttonu712595 {
    width: 92px;
    height: 37px;
    border-style: solid;
    border-color: #C80000;
    position: fixed;
    top: 25px;
    left: 50%;
    margin-left: -112px;
    min-height: 0px;
    border-width: 0px 0px 3px;
}

#u712596-4 {
    z-index: 205;
    width: 92px;
    min-height: 23px;
    background-color: transparent;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #F0F0F0;
    text-align: center;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
}

#pbuttonu712595:hover #u712596-4 p {
    color: #FFFFFF;
    visibility: inherit;
}

.js #u410912.ose_pre_init,
.js #buttonu712597.ose_pre_init,
.js #buttonu712591.ose_pre_init,
.js #buttonu712589.ose_pre_init,
.js #buttonu712593.ose_pre_init,
.js #buttonu712595.ose_pre_init {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
}

#pbuttonu712601 {
    z-index: 225;
    width: 0.01px;
    margin-bottom: -3px;
    margin-right: -10000px;
    margin-top: 4px;
}

#buttonu712601 {
    z-index: 225;
    width: 92px;
    height: 37px;
    border-style: solid;
    border-color: #A41111;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    border-width: 0px 0px 2px;
}

#u712602-4 {
    z-index: 226;
    width: 92px;
    min-height: 23px;
    background-color: transparent;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #393B37;
    text-align: center;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
}

#pbuttonu712595:hover #u712596-4,
#pbuttonu712601:hover #u712602-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
    margin-right: -10000px;
    min-height: 23px;
    width: 92px;
}

#pbuttonu712603 {
    z-index: 232;
    width: 0.01px;
    margin: 4px -10000px -3px 189px;
}

#buttonu712603 {
    z-index: 232;
    width: 92px;
    height: 37px;
    border-style: solid;
    border-color: #A41111;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    border-width: 0px 0px 2px;
}

#u712604-4 {
    z-index: 233;
    width: 92px;
    min-height: 23px;
    background-color: transparent;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #393B37;
    text-align: center;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
}

#pbuttonu712603:hover #u712604-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
    margin-right: -10000px;
    min-height: 23px;
    width: 92px;
}

#pbuttonu712607 {
    z-index: 246;
    width: 0.01px;
    margin: 4px -10000px -3px 378px;
}

#buttonu712607 {
    z-index: 246;
    width: 92px;
    height: 37px;
    border-style: solid;
    border-color: #A41111;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    border-width: 0px 0px 2px;
}

#pbuttonu712605:hover #buttonu712605,
#pbuttonu712601:hover #buttonu712601,
#pbuttonu712603:hover #buttonu712603,
#pbuttonu712607:hover #buttonu712607 {
    width: 92px;
    height: 37px;
    border-style: solid;
    border-color: #C80000;
    position: relative;
    margin-right: -10000px;
    margin-top: 0px;
    left: 0px;
    margin-left: 0px;
    min-height: 0px;
    border-width: 0px 0px 3px;
}

#u712608-4 {
    z-index: 247;
    width: 92px;
    min-height: 23px;
    background-color: transparent;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #393B37;
    text-align: center;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
}

#pbuttonu712607:hover #u712608-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
    margin-right: -10000px;
    min-height: 23px;
    width: 92px;
}

#pbuttonu712597.ButtonSelected #u712598-4,
#pbuttonu712599.ButtonSelected #u712600-4,
#pbuttonu712591.ButtonSelected #u712592-4,
#pbuttonu712605.ButtonSelected #u712606-4,
#pbuttonu712589.ButtonSelected #u712590-4,
#pbuttonu712593.ButtonSelected #u712594-4,
#pbuttonu712601.ButtonSelected #u712602-4,
#pbuttonu712603.ButtonSelected #u712604-4,
#pbuttonu712607.ButtonSelected #u712608-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 23px;
    width: 92px;
}

#pbuttonu712591 #u712592-4,
#pbuttonu712605 #u712606-4,
#pbuttonu712589 #u712590-4,
#pbuttonu712593 #u712594-4,
#pbuttonu712595 #u712596-4,
#pbuttonu712601 #u712602-4,
#pbuttonu712603 #u712604-4,
#pbuttonu712607 #u712608-4 {
    position: relative;
    margin-right: -10000px;
}

.js #u411006.ose_pre_init,
.js #buttonu712599.ose_pre_init,
.js #buttonu712605.ose_pre_init,
.js #buttonu712601.ose_pre_init,
.js #buttonu712603.ose_pre_init,
.js #buttonu712607.ose_pre_init {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
}

#u411251-bw {
    margin-top: 10px;
}

#u411820-4-bw {
    margin-top: 8px;
}

#u425874 {
    width: 800px;
    height: 498px;
    margin-left: 220px;
    margin-top: 8px;
}

#u411824-4 {
    width: 266px;
    margin-left: 487px;
    margin-top: 27px;
}

.Btn-Wejdz-do-galerii {
    background-color: #D79898;
    background-color: rgba(164, 17, 17, 0.43);
}

.css_verticalspacer .verticalspacer {
    height: calc(100vh - 1030px);
}

#pu425873 {
    margin-top: 14px;
    margin-left: -25px;
}

#u425873 {
    min-height: 286px;
    padding-bottom: 10px;
}

#u425873_align_to_page {
    width: 1200px;
    left: -25px;
}

#u425860 {
    width: 155px;
    margin-right: -10000px;
    margin-top: 88px;
    left: 59px;
}

#u425861 {
    width: 48px;
}

#u425862 {
    width: 48px;
    padding-bottom: 7px;
}

#u425863 {
    width: 12px;
    margin-top: 7px;
    left: 18px;
}

#u425864 {
    margin-bottom: 1px;
}

#u425865 {
    width: 48px;
    left: 53px;
}

#u425868 {
    width: 48px;
    padding-bottom: 9px;
}

#u425866 {
    width: 28px;
    margin-top: 9px;
    left: 10px;
}

#u425869 {
    width: 48px;
    left: 107px;
}

#u425870 {
    width: 48px;
    padding-bottom: 11px;
}

#u425862:hover,
#u425868:hover,
#u425870:hover {
    margin-left: 0px;
    width: 48px;
}

#u425871 {
    width: 18px;
    margin-top: 11px;
    left: 15px;
}

#u425867,
#u425872 {
    margin-bottom: 2px;
}

#u425848 {
    width: 417px;
    margin-right: -10000px;
    margin-top: 215px;
    left: 59px;
}

#u425857 {
    width: 44px;
    margin-top: 1px;
}

#u425851 {
    width: 102px;
    margin-top: 1px;
    left: 60px;
}

#u425855 {
    width: 29px;
    margin-top: 1px;
    left: 173px;
}

#u425853 {
    width: 120px;
    margin-top: 1px;
    left: 223px;
}

#u425849 {
    width: 63px;
    left: 354px;
}

#u411822 {
    width: 107px;
    margin-right: -10000px;
    margin-top: 16px;
    left: 62px;
}

#u428525 {
    width: 205px;
    margin-right: -10000px;
    margin-top: 153px;
    left: 58px;
}

#u428526-4 {
    width: 29px;
    min-height: 21px;
    font-size: 18px;
    line-height: 22px;
}

#u428529-4 {
    width: 29px;
    min-height: 21px;
    font-size: 18px;
    line-height: 22px;
    left: 52px;
}

#u428528-4 {
    width: 29px;
    min-height: 21px;
    font-size: 18px;
    line-height: 22px;
    left: 105px;
}

#u428527-4 {
    width: 29px;
    min-height: 21px;
    font-size: 18px;
    line-height: 22px;
    left: 156px;
}

#u428526-4:hover,
#u428529-4.MuseLinkActive,
#u428528-4:hover,
#u428527-4:hover {
    margin-left: 0px;
    min-height: 21px;
    width: 29px;
}

#u630745-4 {
    width: 360px;
    min-height: 24px;
    margin-right: -10000px;
    margin-top: 262px;
    left: 474px;
}

#u630746-15 {
    width: 343px;
    min-height: 174px;
    margin-right: -10000px;
    margin-top: 22px;
    left: 884px;
}

#u630746-2,
#u630746-4 {
    line-height: 24px;
}

#u630747 {
    width: 367px;
    margin-right: -10000px;
    margin-top: 22px;
    left: 528px;
}

#pu630748-4 {
    width: 0.01px;
    margin-top: 1px;
}

#u630748-4 {
    width: 97px;
    margin-left: 20px;
}

#menuu630787 {
    width: 137px;
    margin-top: 5px;
}

#u630810 {
    width: 137px;
    min-height: 19px;
    padding-bottom: 8px;
}

#u630811-4 {
    width: 137px;
    min-height: 19px;
    font-size: 16px;
    line-height: 19px;
    top: 4px;
}

#u630810:hover,
#u630810:hover #u630811-4 {
    width: 137px;
    min-height: 19px;
}

#u630805 {
    width: 137px;
    min-height: 19px;
    padding-bottom: 8px;
}

#u630807-4 {
    width: 137px;
    min-height: 19px;
    font-size: 16px;
    line-height: 19px;
    top: 4px;
}

#u630810.MuseMenuActive #u630811-4,
#u630805:hover,
#u630805:hover #u630807-4 {
    min-height: 19px;
    width: 137px;
}

#u630827-4 {
    width: 137px;
    min-height: 19px;
    font-size: 16px;
    line-height: 19px;
    top: 4px;
}

#u630805.MuseMenuActive #u630807-4,
#u630824:hover #u630827-4 {
    min-height: 19px;
    width: 137px;
}

#u630835-4 {
    width: 137px;
    min-height: 19px;
    font-size: 16px;
    line-height: 19px;
    top: 4px;
}

#u630824.MuseMenuActive #u630827-4,
#u630833:hover #u630835-4 {
    min-height: 19px;
    width: 137px;
}

#u630799-4 {
    width: 137px;
    min-height: 19px;
    font-size: 16px;
    line-height: 19px;
    top: 4px;
}

#u630833.MuseMenuActive #u630835-4,
#u630798:hover #u630799-4 {
    min-height: 19px;
    width: 137px;
}

#u630824,
#u630833,
#u630798,
#u630817 {
    width: 137px;
    min-height: 19px;
    padding-bottom: 8px;
}

#u630820-4 {
    width: 137px;
    min-height: 19px;
    font-size: 16px;
    line-height: 19px;
    top: 4px;
}

#u630798.MuseMenuActive #u630799-4,
#u630817:hover #u630820-4 {
    min-height: 19px;
    width: 137px;
}

#u630809,
#u630802,
#u630823,
#u630830,
#u630795,
#u630816,
#u630788 {
    width: 137px;
}

#u630791 {
    width: 137px;
    min-height: 19px;
    padding-bottom: 9px;
}

#u630794-4 {
    width: 137px;
    min-height: 19px;
    font-size: 16px;
    line-height: 19px;
    top: 4px;
}

#u630817.MuseMenuActive #u630820-4,
#u630791:hover #u630794-4 {
    min-height: 19px;
    width: 137px;
}

#u630791.MuseMenuActive #u630794-4 {
    min-height: 19px;
    width: 137px;
}

#u630749 {
    width: 185px;
    padding-bottom: 0px;
    left: 182px;
}

#u630786-4 {
    width: 97px;
    min-height: 21px;
    margin-left: 44px;
}

#menuu630750 {
    width: 185px;
    height: 106px;
    margin-top: 6px;
}

#u630773 {
    width: 185px;
    min-height: 19px;
    padding-bottom: 2px;
}

#u630775-4 {
    width: 185px;
    min-height: 19px;
    font-size: 16px;
    line-height: 19px;
    top: 1px;
}

#u630773:hover #u630775-4 {
    margin-bottom: 0px;
    min-height: 19px;
    width: 185px;
}

#u630768 {
    width: 185px;
    min-height: 19px;
    padding-bottom: 2px;
}

#u630770-4 {
    width: 185px;
    min-height: 19px;
    font-size: 16px;
    line-height: 19px;
    top: 1px;
}

#u630773.MuseMenuActive #u630775-4,
#u630768:hover #u630770-4 {
    margin-bottom: 0px;
    min-height: 19px;
    width: 185px;
}

#u630754 {
    width: 185px;
    min-height: 19px;
    padding-bottom: 2px;
}

#u630757-4 {
    width: 185px;
    min-height: 19px;
    font-size: 16px;
    line-height: 19px;
    top: 1px;
}

#u630768.MuseMenuActive #u630770-4,
#u630754:hover #u630757-4 {
    margin-bottom: 0px;
    min-height: 19px;
    width: 185px;
}

#u630761 {
    width: 185px;
    min-height: 19px;
    padding-bottom: 2px;
}

#u630762-4 {
    width: 185px;
    min-height: 19px;
    font-size: 16px;
    line-height: 19px;
    top: 1px;
}

#u630773:hover,
#u630768:hover,
#u630754:hover,
#u630761:hover,
#u630761:hover #u630762-4 {
    width: 185px;
    min-height: 19px;
}

#u630772,
#u630765,
#u630751,
#u630758,
#u630779 {
    width: 185px;
}

#u630782 {
    width: 185px;
    min-height: 19px;
    padding-bottom: 3px;
}

#u630761.MuseMenuActive #u630762-4,
#u630782:hover {
    min-height: 19px;
    width: 185px;
}

#u630785-4 {
    width: 185px;
    min-height: 19px;
    font-size: 16px;
    line-height: 19px;
    top: 1px;
}

#u630754.MuseMenuActive #u630757-4,
#u630782:hover #u630785-4 {
    margin-bottom: 0px;
    min-height: 19px;
    width: 185px;
}

#u630782.MuseMenuActive #u630785-4 {
    margin-bottom: 0px;
    min-height: 19px;
    width: 185px;
}

#u425873-bw {
    min-height: 286px;
}

#u425859-bw {
    margin-top: 11px;
}

body {
    min-width: 1200px;
}

.verticalspacer {
    min-height: 19px;
}