#u270904 {
    background: -webkit-gradient(linear, center top, center bottom, color-stop(16%, #383A36), to(#000000));
    background: -webkit-linear-gradient(top, #383A36 16%, #000000);
    background: linear-gradient(to bottom, #383A36 16%, #000000);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF383A36, endColorstr=#FF000000, GradientType=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF383A36', endColorstr='#FF000000', GradientType=0)";
}

.js #u270904.ose_pre_init {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
}

#u270765 {
    border-width: 0px;
    border-color: transparent;
    background-color: #444444;
    background-color: rgba(48, 48, 48, 0.9);
    -pie-background: rgba(48, 48, 48, 0.9);
}

#u270902-4,
#u270764-4,
#u270845-4 {
    background-color: transparent;
    color: #CBCBCB;
    text-align: center;
    line-height: 20px;
    font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u270900-4 {
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    color: #FFFFFF;
    text-align: center;
    line-height: 20px;
    font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u270846 {
    pointer-events: none;
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
}

#u270849 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u271656 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u271709 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u271762 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u271815 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u271868 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u271921 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u271974 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u272027 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u272080 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u272133 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u272186 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u272239 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u272292 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u272345 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u272398 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u272451 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u272504 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u272557 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u272610 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u272663 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u272716 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u272769 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u272822 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u272875 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u272928 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u272981 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u273034 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u273087 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u273140 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u273193 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u273246 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u273299 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u273352 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u273405 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u273458 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u273511 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u273564 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u273617 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u273670 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u273723 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u273776 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u273829 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u273882 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u273935 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u273988 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u274041 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u274094 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u274147 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u274200 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u274253 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u274306 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u274359 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u274412 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u274465 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u274518 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u274571 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u274624 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u274677 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u274730 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u274783 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u274836 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u274889 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u274942 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u274995 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u275048 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

#u275101 {
    pointer-events: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #A41111;
    background-color: transparent;
}

.SSFirstButton,
.SSPreviousButton,
.SSNextButton,
.SSLastButton,
.SSSlideLink,
.SSCloseButton {
    cursor: pointer;
}

.SSSlideLoading {
    background: url("../images/loading.gif?crc=3815509949") no-repeat center center;
}

#u270749 {
    background-color: #171714;
    border-radius: 1px;
}

#u270742 {
    -webkit-transition-duration: 1s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 1s;
    transition-delay: 0s;
    transition-timing-function: ease;
    background-image: url("../images/blank.gif?crc=4208392903");
    background-color: #A41111;
}

#u270742:hover {
    -webkit-transition-duration: 1s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 1s;
    transition-delay: 0s;
    transition-timing-function: ease;
    background-color: #C80000;
}

#u270738 {
    -webkit-transition-duration: 1s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 1s;
    transition-delay: 0s;
    transition-timing-function: ease;
    background-image: url("../images/blank.gif?crc=4208392903");
    background-color: #A41111;
}

#u270748 {
    -webkit-transition-duration: 1s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 1s;
    transition-delay: 0s;
    transition-timing-function: ease;
    background-image: url("../images/blank.gif?crc=4208392903");
    background-color: #A41111;
}

#u270738:hover,
#u270748:hover {
    background-color: #C80000;
}

#u270899,
#u270736,
#u270741,
#u270737,
#u270745,
#u270750 {
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
}

#u270800,
#u271641,
#u271694,
#u271747,
#u271800,
#u271853,
#u271906,
#u271959,
#u272012,
#u272065,
#u272118,
#u272171,
#u272224,
#u272277,
#u272330,
#u272383,
#u272436,
#u272489,
#u272542,
#u272595,
#u272648,
#u272701,
#u272754,
#u272807,
#u272860,
#u272913,
#u272966,
#u273019,
#u273072,
#u273125,
#u273178,
#u273231,
#u273284,
#u273337,
#u273390,
#u273443,
#u273496,
#u273549,
#u273602,
#u273655,
#u273708,
#u273761,
#u273814,
#u273867,
#u273920,
#u273973,
#u274026,
#u274079,
#u274132,
#u274185,
#u274238,
#u274291,
#u274344,
#u274397,
#u274450,
#u274503,
#u274556,
#u274609,
#u274662,
#u274715,
#u274768,
#u274821,
#u274874,
#u274927,
#u274980,
#u275033,
#u275086,
#u270743,
#u270739,
#u270746,
#u270751,
#u270759,
#u270757,
#u270755,
#u270753 {
    background-color: transparent;
}

#u270744,
#u270740,
#u270747,
#u270752,
#u270760,
#u270758,
#u270756,
#u270754 {
    display: block;
}

#u270761 {
    background-color: #F0F0F0;
}