#muse_css_mq {
    background-color: #FFFFFF;
}

#bp_infinity.active {
    display: block;
}

#page {
    width: 1200px;
    min-height: 1049px;
}

#pu425105 {
    z-index: 162;
    width: 0.01px;
    height: 0px;
    padding-bottom: 74px;
    margin-right: -10000px;
    margin-top: -1px;
}

#u425105 {
    z-index: 162;
    height: 74px;
    position: fixed;
    top: -1px;
}

#u425105-bw {
    z-index: 162;
}

#u397216 {
    z-index: 163;
    width: 96px;
    position: fixed;
    top: 28px;
    left: 50%;
    margin-left: -546px;
}

#u397217 {
    z-index: 164;
}

#u397310 {
    z-index: 165;
    width: 96px;
    position: fixed;
    top: 27px;
    left: 50%;
    margin-left: -547px;
}

#u397311 {
    z-index: 166;
}

#u468578 {
    z-index: 167;
    width: 205px;
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    padding-bottom: 47px;
    position: fixed;
    top: 20px;
    left: 50%;
    margin-left: 395px;
}

#u468581-4 {
    z-index: 168;
    width: 29px;
    min-height: 21px;
    -webkit-transition-duration: 1s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 1s;
    transition-delay: 0s;
    transition-timing-function: ease;
    background-image: url("../images/blank.gif?crc=4208392903");
    background-color: #A41111;
    color: #F0F0F0;
    font-size: 18px;
    text-align: center;
    line-height: 22px;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
    position: fixed;
    top: 20px;
    left: 50%;
    margin-left: 395px;
    padding: 15px 10px 10px;
}

#u468581-4:hover {
    background-color: #C80000;
    padding-top: 15px;
    padding-bottom: 10px;
    min-height: 21px;
    width: 29px;
    margin: 0px 0px 0px 395px;
}

#u468582-4 {
    z-index: 172;
    width: 29px;
    min-height: 21px;
    -webkit-transition-duration: 1s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 1s;
    transition-delay: 0s;
    transition-timing-function: ease;
    background-image: url("../images/blank.gif?crc=4208392903");
    background-color: #A41111;
    color: #F0F0F0;
    font-size: 18px;
    text-align: center;
    line-height: 22px;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
    position: fixed;
    top: 20px;
    left: 50%;
    margin-left: 448px;
    padding: 15px 10px 10px;
}

#u468582-4:hover {
    background-color: #C80000;
    padding-top: 15px;
    padding-bottom: 10px;
    min-height: 21px;
    width: 29px;
    margin: 0px 0px 0px 448px;
}

#u468579-4 {
    z-index: 176;
    width: 29px;
    min-height: 21px;
    -webkit-transition-duration: 1s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 1s;
    transition-delay: 0s;
    transition-timing-function: ease;
    background-image: url("../images/blank.gif?crc=4208392903");
    background-color: #A41111;
    color: #F0F0F0;
    font-size: 18px;
    text-align: center;
    line-height: 22px;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
    position: fixed;
    top: 20px;
    left: 50%;
    margin-left: 500px;
    padding: 15px 10px 10px;
}

#u468579-4.MuseLinkActive {
    background-color: #C80000;
    padding-top: 15px;
    padding-bottom: 10px;
    min-height: 21px;
    width: 29px;
    margin: 0px 0px 0px 500px;
}

#u468580-4 {
    z-index: 180;
    width: 29px;
    min-height: 21px;
    -webkit-transition-duration: 1s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 1s;
    transition-delay: 0s;
    transition-timing-function: ease;
    background-image: url("../images/blank.gif?crc=4208392903");
    background-color: #A41111;
    color: #F0F0F0;
    font-size: 18px;
    text-align: center;
    line-height: 22px;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
    position: fixed;
    top: 20px;
    left: 50%;
    margin-left: 551px;
    padding: 15px 10px 10px;
}

#u468580-4:hover {
    background-color: #C80000;
    padding-top: 15px;
    padding-bottom: 10px;
    min-height: 21px;
    width: 29px;
    margin: 0px 0px 0px 551px;
}

#ppppbuttonu692124 {
    z-index: 0;
    width: 0.01px;
    height: 695px;
    margin-right: -10000px;
    margin-top: 24px;
    margin-left: -25px;
}

#pppbuttonu692124 {
    z-index: 0;
    width: 0.01px;
    height: 37px;
    margin-left: 380px;
}

#ppbuttonu692124 {
    z-index: 205;
    width: 0.01px;
    height: 37px;
    margin-right: -10000px;
    margin-left: 180px;
}

#pbuttonu692124 {
    z-index: 206;
    width: 0.01px;
    height: 0px;
    padding-bottom: 40px;
    margin-bottom: -3px;
    margin-right: -10000px;
}

#buttonu692124 {
    z-index: 206;
    width: 93px;
    height: 37px;
    border-style: solid;
    border-color: #A41111;
    background-color: transparent;
    position: fixed;
    top: 24px;
    left: 50%;
    margin-left: -65px;
    border-width: 0px 0px 2px;
}

#pbuttonu692124:hover #buttonu692124 {
    width: 93px;
    height: 37px;
    border-style: solid;
    border-color: #C80000;
    position: fixed;
    top: 24px;
    left: 50%;
    margin-left: -65px;
    min-height: 0px;
    border-width: 0px 0px 3px;
}

#u692125-4 {
    z-index: 207;
    width: 92px;
    min-height: 23px;
    background-color: transparent;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #F0F0F0;
    text-align: center;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
}

#pbuttonu692124:hover #u692125-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
    margin-right: -10000px;
    margin-top: 3px;
    left: 1px;
    min-height: 23px;
    width: 92px;
}

#pbuttonu692124:hover #u692125-4 p {
    color: #FFFFFF;
    visibility: inherit;
}

#pbuttonu692130 {
    z-index: 227;
    width: 0.01px;
    margin-bottom: -3px;
    margin-right: -10000px;
}

#buttonu692130 {
    z-index: 227;
    width: 93px;
    height: 37px;
    border-style: solid;
    border-color: #A41111;
    background-color: transparent;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    position: relative;
    margin-right: -10000px;
    border-width: 0px 0px 2px;
}

#pbuttonu692130:hover #buttonu692130 {
    width: 93px;
    height: 37px;
    border-style: solid;
    border-color: #C80000;
    position: relative;
    margin-right: -10000px;
    margin-top: 0px;
    left: 0px;
    margin-left: 0px;
    min-height: 0px;
    border-width: 0px 0px 3px;
}

#u692131-4 {
    z-index: 228;
    width: 92px;
    min-height: 23px;
    background-color: transparent;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #393B37;
    text-align: center;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
}

#pbuttonu692130:hover #u692131-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
    margin-right: -10000px;
    left: 1px;
    min-height: 23px;
    width: 92px;
}

#ppbuttonu692128 {
    z-index: 219;
    width: 0.01px;
    height: 37px;
    margin-right: -10000px;
    margin-left: 372px;
}

#pbuttonu692128 {
    z-index: 220;
    width: 0.01px;
    height: 0px;
    padding-bottom: 40px;
    margin-bottom: -3px;
    margin-right: -10000px;
}

#buttonu692128 {
    z-index: 220;
    width: 110px;
    height: 37px;
    border-style: solid;
    border-color: #A41111;
    background-color: transparent;
    position: fixed;
    top: 24px;
    left: 50%;
    margin-left: 128px;
    border-width: 0px 0px 2px;
}

#pbuttonu692128:hover #buttonu692128 {
    width: 110px;
    height: 37px;
    border-style: solid;
    border-color: #C80000;
    position: fixed;
    top: 24px;
    left: 50%;
    margin-left: 128px;
    min-height: 0px;
    border-width: 0px 0px 3px;
}

#u692129-4 {
    z-index: 221;
    width: 108px;
    min-height: 23px;
    background-color: transparent;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #F0F0F0;
    text-align: center;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
}

#pbuttonu692128:hover #u692129-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
    margin-right: -10000px;
    min-height: 23px;
    width: 108px;
}

#pbuttonu692128:hover #u692129-4 p {
    color: #FFFFFF;
    visibility: inherit;
}

#pbuttonu692136 {
    z-index: 248;
    width: 0.01px;
    margin-bottom: -3px;
    margin-right: -10000px;
}

#buttonu692136 {
    z-index: 248;
    width: 110px;
    height: 37px;
    border-style: solid;
    border-color: #A41111;
    background-color: transparent;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    position: relative;
    margin-right: -10000px;
    border-width: 0px 0px 2px;
}

#pbuttonu692136:hover #buttonu692136 {
    width: 110px;
    height: 37px;
    border-style: solid;
    border-color: #C80000;
    position: relative;
    margin-right: -10000px;
    margin-top: 0px;
    left: 0px;
    margin-left: 0px;
    min-height: 0px;
    border-width: 0px 0px 3px;
}

#u692137-4 {
    z-index: 249;
    width: 108px;
    min-height: 23px;
    background-color: transparent;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #393B37;
    text-align: center;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
}

#pbuttonu692136:hover #u692137-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
    margin-right: -10000px;
    min-height: 23px;
    width: 108px;
}

#pbuttonu692128.ButtonSelected #u692129-4,
#pbuttonu692136.ButtonSelected #u692137-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 23px;
    width: 108px;
}

#pbuttonu692118 {
    z-index: 185;
    width: 0.01px;
    height: 0px;
    padding-bottom: 40px;
    margin-bottom: -3px;
    margin-right: -10000px;
}

#buttonu692118 {
    z-index: 185;
    width: 176px;
    height: 37px;
    border-style: solid;
    border-color: #A41111;
    background-color: transparent;
    position: fixed;
    top: 24px;
    left: 50%;
    margin-left: -245px;
    border-width: 0px 0px 2px;
}

#pbuttonu692118:hover #buttonu692118 {
    width: 176px;
    height: 37px;
    border-style: solid;
    border-color: #C80000;
    position: fixed;
    top: 24px;
    left: 50%;
    margin-left: -245px;
    min-height: 0px;
    border-width: 0px 0px 3px;
}

#u692119-4 {
    z-index: 186;
    width: 173px;
    min-height: 23px;
    background-color: transparent;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #FFFFFF;
    text-align: center;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
}

#pbuttonu692118:hover #u692119-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
    margin-right: -10000px;
    margin-top: 3px;
    left: 1px;
    min-height: 23px;
    width: 173px;
}

#pbuttonu692118:hover #u692119-4 p {
    color: #FFFFFF;
    visibility: inherit;
}

#pbuttonu692124 #u692125-4,
#pbuttonu692118 #u692119-4 {
    position: relative;
    margin-right: -10000px;
    margin-top: 3px;
    left: 1px;
}

#pbuttonu692120 {
    z-index: 192;
    width: 0.01px;
    margin-bottom: -3px;
    margin-right: -10000px;
}

#buttonu692120 {
    z-index: 192;
    width: 176px;
    height: 37px;
    border-style: solid;
    border-color: #A41111;
    background-color: transparent;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    position: relative;
    margin-right: -10000px;
    border-width: 0px 0px 2px;
}

#pbuttonu692120:hover #buttonu692120 {
    width: 176px;
    height: 37px;
    border-style: solid;
    border-color: #C80000;
    position: relative;
    margin-right: -10000px;
    margin-top: 0px;
    left: 0px;
    margin-left: 0px;
    min-height: 0px;
    border-width: 0px 0px 3px;
}

#u692121-4 {
    z-index: 193;
    width: 173px;
    min-height: 23px;
    background-color: transparent;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #393B37;
    text-align: center;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
}

#pbuttonu692120:hover #u692121-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
    margin-right: -10000px;
    left: 1px;
    min-height: 23px;
    width: 173px;
}

#pbuttonu692118.ButtonSelected #u692119-4,
#pbuttonu692120.ButtonSelected #u692121-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 23px;
    width: 173px;
}

#pbuttonu692130 #u692131-4,
#pbuttonu692120 #u692121-4 {
    position: relative;
    margin-right: -10000px;
    left: 1px;
}

#pbuttonu692122 {
    z-index: 199;
    width: 0.01px;
    height: 0px;
    padding-bottom: 40px;
    margin-bottom: -3px;
    margin-right: -10000px;
    margin-left: 485px;
}

#buttonu692122 {
    z-index: 199;
    width: 92px;
    height: 37px;
    border-style: solid;
    border-color: #A41111;
    background-color: transparent;
    position: fixed;
    top: 24px;
    left: 50%;
    margin-left: 240px;
    border-width: 0px 0px 2px;
}

#pbuttonu692122:hover #buttonu692122 {
    width: 92px;
    height: 37px;
    border-style: solid;
    border-color: #C80000;
    position: fixed;
    top: 24px;
    left: 50%;
    margin-left: 240px;
    min-height: 0px;
    border-width: 0px 0px 3px;
}

#u692123-4 {
    z-index: 200;
    width: 92px;
    min-height: 23px;
    background-color: transparent;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #F0F0F0;
    text-align: center;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
}

#pbuttonu692122:hover #u692123-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
    margin-right: -10000px;
    min-height: 23px;
    width: 92px;
}

#pbuttonu692122:hover #u692123-4 p {
    color: #FFFFFF;
    visibility: inherit;
}

#pbuttonu692126 {
    z-index: 213;
    width: 0.01px;
    height: 0px;
    padding-bottom: 40px;
    margin-bottom: -3px;
    margin-right: -10000px;
    margin-left: 276px;
}

#buttonu692126 {
    z-index: 213;
    width: 92px;
    height: 37px;
    border-style: solid;
    border-color: #A41111;
    background-color: transparent;
    position: fixed;
    top: 24px;
    left: 50%;
    margin-left: 32px;
    border-width: 0px 0px 2px;
}

#pbuttonu692126:hover #buttonu692126 {
    width: 92px;
    height: 37px;
    border-style: solid;
    border-color: #C80000;
    position: fixed;
    top: 24px;
    left: 50%;
    margin-left: 32px;
    min-height: 0px;
    border-width: 0px 0px 3px;
}

#u692127-4 {
    z-index: 214;
    width: 92px;
    min-height: 23px;
    background-color: transparent;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #F0F0F0;
    text-align: center;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
}

#pbuttonu692126:hover #u692127-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
    margin-right: -10000px;
    min-height: 23px;
    width: 92px;
}

#pbuttonu692126:hover #u692127-4 p {
    color: #FFFFFF;
    visibility: inherit;
}

#pbuttonu692124.ButtonSelected #u692125-4 p,
#pbuttonu692128.ButtonSelected #u692129-4 p,
#pbuttonu692122.ButtonSelected #u692123-4 p,
#pbuttonu692126.ButtonSelected #u692127-4 p {
    color: #F0F0F0;
    visibility: inherit;
}

.js #u397216.ose_pre_init,
.js #buttonu692124.ose_pre_init,
.js #buttonu692128.ose_pre_init,
.js #buttonu692118.ose_pre_init,
.js #buttonu692122.ose_pre_init,
.js #buttonu692126.ose_pre_init {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
}

#pbuttonu692132 {
    z-index: 234;
    width: 0.01px;
    margin-bottom: -3px;
    margin-right: -10000px;
    margin-left: 276px;
}

#buttonu692132 {
    z-index: 234;
    width: 92px;
    height: 37px;
    border-style: solid;
    border-color: #A41111;
    background-color: transparent;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    position: relative;
    margin-right: -10000px;
    border-width: 0px 0px 2px;
}

#u692133-4 {
    z-index: 235;
    width: 92px;
    min-height: 23px;
    background-color: transparent;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #393B37;
    text-align: center;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
}

#pbuttonu692132:hover #u692133-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
    margin-right: -10000px;
    min-height: 23px;
    width: 92px;
}

#pbuttonu692134 {
    z-index: 241;
    width: 0.01px;
    margin-bottom: -3px;
    margin-right: -10000px;
    margin-left: 485px;
}

#buttonu692134 {
    z-index: 241;
    width: 92px;
    height: 37px;
    border-style: solid;
    border-color: #A41111;
    background-color: transparent;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    position: relative;
    margin-right: -10000px;
    border-width: 0px 0px 2px;
}

#pbuttonu692132:hover #buttonu692132,
#pbuttonu692134:hover #buttonu692134 {
    width: 92px;
    height: 37px;
    border-style: solid;
    border-color: #C80000;
    position: relative;
    margin-right: -10000px;
    margin-top: 0px;
    left: 0px;
    margin-left: 0px;
    min-height: 0px;
    border-width: 0px 0px 3px;
}

#u692135-4 {
    z-index: 242;
    width: 92px;
    min-height: 23px;
    background-color: transparent;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #393B37;
    text-align: center;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
}

#pbuttonu692134:hover #u692135-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
    margin-right: -10000px;
    min-height: 23px;
    width: 92px;
}

#pbuttonu692124.ButtonSelected #u692125-4,
#pbuttonu692130.ButtonSelected #u692131-4,
#pbuttonu692122.ButtonSelected #u692123-4,
#pbuttonu692126.ButtonSelected #u692127-4,
#pbuttonu692132.ButtonSelected #u692133-4,
#pbuttonu692134.ButtonSelected #u692135-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 23px;
    width: 92px;
}

#pbuttonu692128 #u692129-4,
#pbuttonu692136 #u692137-4,
#pbuttonu692122 #u692123-4,
#pbuttonu692126 #u692127-4,
#pbuttonu692132 #u692133-4,
#pbuttonu692134 #u692135-4 {
    position: relative;
    margin-right: -10000px;
}

.js #u397310.ose_pre_init,
.js #buttonu692130.ose_pre_init,
.js #buttonu692136.ose_pre_init,
.js #buttonu692120.ose_pre_init,
.js #buttonu692132.ose_pre_init,
.js #buttonu692134.ose_pre_init {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
}

#u397559-bw {
    margin-top: 12px;
}

#u396646-4-bw {
    margin-top: 8px;
}

#u425271 {
    width: 800px;
    height: 498px;
    margin-left: 220px;
    margin-top: 8px;
}

#u396647-4 {
    width: 349px;
    margin-left: 424px;
    margin-top: 26px;
}

.Btn-Wejdz-do-galerii {
    background-color: #D79898;
    background-color: rgba(164, 17, 17, 0.43);
}

.css_verticalspacer .verticalspacer {
    height: calc(100vh - 1029px);
}

#pu425272 {
    margin-top: 14px;
    margin-left: -25px;
}

#u425272_align_to_page {
    width: 1200px;
    left: -25px;
    padding-top: 25px;
    padding-bottom: 6px;
}

#ppu396745 {
    z-index: 0;
    width: 0.01px;
    left: 58px;
    position: relative;
}

#pu396745 {
    z-index: 29;
    width: 0.01px;
    padding-bottom: 0px;
    margin-right: -10000px;
}

#u396745 {
    width: 107px;
    margin-left: 4px;
}

#u425257 {
    width: 155px;
    margin-left: 1px;
    margin-top: 23px;
}

#u425262 {
    width: 48px;
}

#u425265 {
    width: 48px;
    padding-bottom: 7px;
}

#u425263 {
    width: 12px;
    margin-top: 7px;
    left: 18px;
}

#u425264 {
    margin-bottom: 1px;
}

#u425258 {
    width: 48px;
    left: 53px;
}

#u425261 {
    width: 48px;
    padding-bottom: 9px;
}

#u425259 {
    width: 28px;
    margin-top: 9px;
    left: 10px;
}

#u425266 {
    width: 48px;
    left: 107px;
}

#u425269 {
    width: 48px;
    padding-bottom: 11px;
}

#u425265:hover,
#u425261:hover,
#u425269:hover {
    margin-left: 0px;
    width: 48px;
}

#u425267 {
    width: 18px;
    margin-top: 11px;
    left: 15px;
}

#u425260,
#u425268 {
    margin-bottom: 2px;
}

#u427526 {
    width: 205px;
    margin-top: 24px;
}

#u427530-4 {
    width: 29px;
    min-height: 21px;
    font-size: 18px;
    line-height: 22px;
}

#u427529-4 {
    width: 29px;
    min-height: 21px;
    font-size: 18px;
    line-height: 22px;
    left: 52px;
}

#u427528-4 {
    width: 29px;
    min-height: 21px;
    font-size: 18px;
    line-height: 22px;
    left: 105px;
}

#u427527-4 {
    width: 29px;
    min-height: 21px;
    font-size: 18px;
    line-height: 22px;
    left: 156px;
}

#u427530-4:hover,
#u427529-4:hover,
#u427528-4.MuseLinkActive,
#u427527-4:hover {
    margin-left: 0px;
    min-height: 21px;
    width: 29px;
}

#u425246 {
    width: 417px;
    margin-left: 1px;
    margin-top: 15px;
}

#u425253 {
    width: 44px;
    margin-top: 1px;
}

#u425255 {
    width: 102px;
    margin-top: 1px;
    left: 60px;
}

#u425251 {
    width: 29px;
    margin-top: 1px;
    left: 173px;
}

#u425247 {
    width: 120px;
    margin-top: 1px;
    left: 223px;
}

#u425249 {
    width: 63px;
    left: 354px;
}

#u499676-17 {
    width: 343px;
    min-height: 174px;
    margin-right: -10000px;
    left: 804px;
}

#u499676-2,
#u499676-4 {
    line-height: 24px;
}

#u499677 {
    width: 366px;
    margin-right: -10000px;
    left: 448px;
}

#pu499728-4 {
    width: 0.01px;
    margin-top: 1px;
}

#u499728-4 {
    width: 97px;
    margin-left: 20px;
}

#menuu499678 {
    width: 137px;
    margin-top: 5px;
}

#u499703 {
    width: 137px;
    min-height: 19px;
    padding-bottom: 8px;
}

#u499704-4 {
    width: 137px;
    min-height: 19px;
    font-size: 16px;
    line-height: 19px;
    top: 4px;
}

#u499703:hover,
#u499703:hover #u499704-4 {
    width: 137px;
    min-height: 19px;
}

#u499715 {
    width: 137px;
    min-height: 19px;
    padding-bottom: 8px;
}

#u499717-4 {
    width: 137px;
    min-height: 19px;
    font-size: 16px;
    line-height: 19px;
    top: 4px;
}

#u499703.MuseMenuActive #u499704-4,
#u499715:hover,
#u499715:hover #u499717-4 {
    min-height: 19px;
    width: 137px;
}

#u499681-4 {
    width: 137px;
    min-height: 19px;
    font-size: 16px;
    line-height: 19px;
    top: 4px;
}

#u499715.MuseMenuActive #u499717-4,
#u499680:hover #u499681-4 {
    min-height: 19px;
    width: 137px;
}

#u499688-4 {
    width: 137px;
    min-height: 19px;
    font-size: 16px;
    line-height: 19px;
    top: 4px;
}

#u499680.MuseMenuActive #u499681-4,
#u499687:hover #u499688-4 {
    min-height: 19px;
    width: 137px;
}

#u499699-4 {
    width: 137px;
    min-height: 19px;
    font-size: 16px;
    line-height: 19px;
    top: 4px;
}

#u499687.MuseMenuActive #u499688-4,
#u499696:hover #u499699-4 {
    min-height: 19px;
    width: 137px;
}

#u499680,
#u499687,
#u499696,
#u499722 {
    width: 137px;
    min-height: 19px;
    padding-bottom: 8px;
}

#u499725-4 {
    width: 137px;
    min-height: 19px;
    font-size: 16px;
    line-height: 19px;
    top: 4px;
}

#u499696.MuseMenuActive #u499699-4,
#u499722:hover #u499725-4 {
    min-height: 19px;
    width: 137px;
}

#u499700,
#u499714,
#u499679,
#u499686,
#u499693,
#u499721,
#u499707 {
    width: 137px;
}

#u499710 {
    width: 137px;
    min-height: 19px;
    padding-bottom: 9px;
}

#u499713-4 {
    width: 137px;
    min-height: 19px;
    font-size: 16px;
    line-height: 19px;
    top: 4px;
}

#u499722.MuseMenuActive #u499725-4,
#u499710:hover #u499713-4 {
    min-height: 19px;
    width: 137px;
}

#u499710.MuseMenuActive #u499713-4 {
    min-height: 19px;
    width: 137px;
}

#u499729 {
    width: 185px;
    padding-bottom: 0px;
    left: 181px;
}

#u499730-4 {
    width: 185px;
    min-height: 21px;
}

#menuu499731 {
    width: 185px;
    height: 106px;
    margin-top: 6px;
}

#u499742 {
    width: 185px;
    min-height: 19px;
    padding-bottom: 2px;
}

#u499745-4 {
    width: 185px;
    min-height: 19px;
    font-size: 16px;
    line-height: 19px;
    top: 1px;
}

#u499742:hover #u499745-4 {
    margin-bottom: 0px;
    min-height: 19px;
    width: 185px;
}

#u499761 {
    width: 185px;
    min-height: 19px;
    padding-bottom: 2px;
}

#u499763-4 {
    width: 185px;
    min-height: 19px;
    font-size: 16px;
    line-height: 19px;
    top: 1px;
}

#u499742.MuseMenuActive #u499745-4,
#u499761:hover #u499763-4 {
    margin-bottom: 0px;
    min-height: 19px;
    width: 185px;
}

#u499735 {
    width: 185px;
    min-height: 19px;
    padding-bottom: 2px;
}

#u499736-4 {
    width: 185px;
    min-height: 19px;
    font-size: 16px;
    line-height: 19px;
    top: 1px;
}

#u499761.MuseMenuActive #u499763-4,
#u499735:hover #u499736-4 {
    margin-bottom: 0px;
    min-height: 19px;
    width: 185px;
}

#u499735.MuseMenuActive #u499736-4 {
    margin-bottom: 0px;
    min-height: 19px;
    width: 185px;
}

#u499756 {
    width: 185px;
    min-height: 19px;
    padding-bottom: 2px;
}

#u499759-4 {
    width: 185px;
    min-height: 19px;
    font-size: 16px;
    line-height: 19px;
    top: 1px;
}

#u499742:hover,
#u499761:hover,
#u499735:hover,
#u499756:hover,
#u499756:hover #u499759-4 {
    width: 185px;
    min-height: 19px;
}

#u499739,
#u499760,
#u499732,
#u499753,
#u499746 {
    width: 185px;
}

#u499749 {
    width: 185px;
    min-height: 19px;
    padding-bottom: 3px;
}

#u499750-4 {
    width: 185px;
    min-height: 19px;
    font-size: 16px;
    line-height: 19px;
    top: 1px;
}

#u499756.MuseMenuActive #u499759-4,
#u499749:hover,
#u499749:hover #u499750-4 {
    min-height: 19px;
    width: 185px;
}

#u499749.MuseMenuActive #u499750-4 {
    min-height: 19px;
    width: 185px;
}

#u499675-4 {
    width: 360px;
    min-height: 24px;
    left: 452px;
    top: -5px;
    margin-bottom: -5px;
}

#u425272,
#u425272-bw {
    min-height: 296px;
}

#u425270-bw {
    margin-top: 11px;
}

body {
    min-width: 1200px;
}

.verticalspacer {
    min-height: 20px;
}